<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/members/members.css">
  <script defer src="/js/members/members.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>
  <section id="members" data-user-id="{{user.id}}" data-book-total="{{bookTotal}}">
    <div class="members-nav">
      <div class="members-names">
        <div class="members-title">MEMBERS</div>
        {% for member in members %}
        <div data-id={{member.id}} class="members-name">{{member.nick}}</div>
        {% endfor %}
      </div>
    </div>
    <div class="member-books">
      {% for book in books %}
      <a href="/book/{{book.id}}" class="member-book" data-id="{{book.id}}">{{book.title}}</a>
      {% endfor %}
    </div>
    <div class="href-box">
      <a href="/" class="home box">HOME</a>
      <a href="/open" class="api box">API</a>
      <a href="/quotes" class="quotes box">Quotes</a>
      <div class="wishlist box">WISHLIST</div>
      <a href="/favorites" class="favorite box">Favorite</a>  
    </div>
    <div class="attend" hidden>
      <div class="attend-title">미팅 참여 횟수 / 총 미팅 횟수</div>
      <div class="attend-num"><span class="attend-num-count"></span>&nbsp;/&nbsp;<span class="attend-num-total"></span></div>
    </div>
    <div class="recommend" hidden>
      <div class="recommend-title">책 추천 횟수 / 총 미팅 횟수</div>
      <div class="recommend-num"><span class="recommend-num-count"></span>&nbsp;/&nbsp;<span class="recommend-num-total"></span></div>
    </div>
  </section>
</body>
</html>