<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/wishlist/list.css">
  <script defer src="/js/wishlist/list.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <section id="list" data-list="{{lists.length}}">
    <div class="list">
      <div class="list-top">
        <div class="list-folder">
          <a href="/wishlist/{{member.id}}" class="list-back">
            <img class="list-img" src="/img/index/back-arrow.png" alt="back-arrow">
          </a>
          <div>
            <div class="list-folder-title">{{currentFolder.title}}&nbsp;(<span class="list-total">{{currentFolder.count}}</span>)</div>
            <a href="/member/{{member.id}}" class="list-nick">{{member.nick}}</a>  
          </div>
        </div>
        <div class="list-btns">
          <div class="list-btn" data-btn="add">리스트 추가</div>
          <div class="list-btn" data-btn="delete">삭제</div>
          <div class="list-btn" data-btn="move">폴더 이동</div>
          <div class="list-btn" data-btn="read">완독</div>
        </div>        
      </div>
      {% if lists.length == 0 %}
      <div class="list-contents">
        <div class="list-empty">리스트를 추가해주세요.</div>
        <div class="list-box clone" hidden>
          <div class="list-img-box">
            <img class="list-img width" src="" alt="">
          </div>
          <div class="list-box-title"></div>
          <div class="list-box-author"></div>
        </div>
      </div>
      {% else %}
      <div class="list-contents grid">
        {% for list in lists %}
        <div class="list-box" data-list-id="{{list.id}}">
          <div class="list-img-box">
            <img class="list-img width" src="{{list.img}}" alt="">
          </div>
          <div class="list-box-title">{{list.title}}</div>
          <div class="list-box-author">{{list.author}}</div>
        </div>
        {% endfor %}
        <div class="list-box clone" hidden>
          <div class="list-img-box">
            <img class="list-img width" src="" alt="">
          </div>
          <div class="list-box-title"></div>
          <div class="list-box-author"></div>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
  <section id="add" class="root" hidden>
    <div class="list-nav">
      <div class="list-title">
        리스트 추가
      </div>
      <div class="list-cancel">
        <div class="list-cancel__left"></div>
        <div class="list-cancel__right"></div>
      </div>
    </div>
    <form class="add-form" action="post" enctype="multipart/form-data">
      <label for="add-img" class="add-label">
        <div class="add-plus-ver"></div>
        <div class="add-plus-hor"></div>
        <div class="add-preview">
          <img class="list-img width" src="" alt="preview">
        </div>  
      </label>
      <input id="add-img" name="image" class="add-img" type="file" accept="image/*">
      <input class="add-url" type="hidden" name="url">
      <div class="add-default">*기본 이미지</div>
      <input class="add-title" name="title" type="text" maxlength="20" placeholder="책 제목을 입력하세요*">
      <input class="add-author" name="author" type="text" maxlength="10" placeholder="저자를 입력하세요*">
      <input class="submit" type="submit" value="등록">
    </form>
  </section>
  <section id="move" class="root" hidden>
    <div class="list-nav">
      <div class="list-title">
          폴더 이동
      </div>
      <div class="list-cancel">
        <div class="list-cancel__left"></div>
        <div class="list-cancel__right"></div>
      </div>
    </div>
    <div class="list-move">
      {% if folders.length == 0 %}
      <div class="list-move-empty">먼저 폴더를 추가해주세요.</div>
      {% else %}
      <form class="move-form">
        {% for folder in folders %}
        <label class="move-label">
          <div class="move-title">
            <input type="radio" name="listFolder" value="{{folder.id}}">
            <span>{{folder.title}}</span>  
          </div>
          <div class="move-count">{{folder.count}}개</div>
        </label>
        {% endfor %}
        <input class="submit" type="submit" value="등록">          
      </form>
      {% endif %}
    </div>
  </section>
</body>
</html>