<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/wishlist/wishlist.css">
  <script defer src="/js/wishlist/wishlist.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <section id="wishlist" data-total-folder="{{folders.length}}" data-user-id="{{user.id}}">
    <div class="wishlist-nav">
      <a href="/" class="wishlist-home">HOME</a>
      <a href="/member/{{member.id}}" class="wishlist-nick">{{member.nick}}</a>  
    </div>
    {% if folders.length == 0 %}
    <div class="wishlist">
      <div class="empty">오른쪽 마우스를 클릭해 폴더를 추가해보세요.</div>
      <a class="folder done" hidden>
        <div class="folder-img-box">
          <img class="folder-img" src="/img/wishlist/green-folder.png" alt="folder">
          <div class="folder-count done"></div>
        </div>
        <div class="folder-title done">읽은 것들</div>
      </a>
      <a class="folder clone" hidden>
        <div class="folder-img-box">
          <img class="folder-img" src="/img/wishlist/green-folder.png" alt="folder">
          <div class="folder-count"></div>
        </div>
        <div class="folder-title"></div>
      </a>  
    </div> 
    {% else %}
    <div class="wishlist grid">
      {% for folder in folders %}
      <a class="folder" data-folder-id="{{folder.id}}" data-public="{{folder.public}}" data-createdat="{{folder.createdAt}}" data-updatedat="{{folder.updatedAt}}">
        <div class="folder-img-box">
          <img class="folder-img" src="/img/wishlist/green-folder.png" alt="folder">
          <div class="folder-count">{{folder.count}}</div>
        </div>
        <div class="folder-title">{{folder.title}}</div>
      </a>
      {% endfor %}
      <a class="folder done" data-public="{{done.public}}">
        <div class="folder-img-box">
          <img class="folder-img" src="/img/wishlist/green-folder.png" alt="folder-done">
          <div class="folder-count done">{{done.count}}</div>
        </div>
        <div class="folder-title done">읽은 것들</div>
      </a>
      <a class="folder clone" hidden>
        <div class="folder-img-box">
          <img class="folder-img" src="/img/wishlist/green-folder.png" alt="folder">
          <div class="folder-count"></div>
        </div>
        <div class="folder-title"></div>
      </a>
    </div>
    {% endif %}
    <!-- 이 친구들이 #wishlist 밖에 있으면 클릭 이벤트가 안 먹음 -->
    <section id="folder-menu" hidden>
      <div class="menu" data-menu="open">열기</div>
      <div class="menu" data-menu="name">이름 변경</div>
      <div class="menu" data-menu="delete">삭제</div>
      <div class="menu" data-menu="public">
        공개&nbsp;/&nbsp;비공개로 전환
      </div>
    </section>  
    <section id="area-menu" hidden>
      <div class="menu" data-menu="add">새로운 폴더</div>
      <div class="menu" data-menu="sort">
        <div>다음으로 정렬</div>
        <img class="menu__arrow" src="/img/wishlist/right-arrow.png" alt="arrow">
        <div id="sort-menu" hidden>
          <div class="menu" data-menu="sort-name">이름</div>
          <div class="menu" data-menu="sort-updated">수정일</div>  
          <div class="menu" data-menu="sort-created">생성일</div>  
        </div>  
      </div>
    </section>  
  </section>
  <section id="add" class="root" hidden>
    <div class="add-nav">
      <div class="add-title">폴더 추가</div>
      <div class="cancel">
        <div class="cancel__left"></div>
        <div class="cancel__right"></div>
      </div>
    </div>
    <form class="add-form">
      <div class="add-public">
        <label>
          <input id="public" type="radio" name="isPublic" value="public" checked/>
          <span>PUBLIC</span>
        </label>
        <label>
          <input id="private" type="radio" name="isPublic" value="private"/>
          <span>PRIVATE</span>
        </label>
      </div>
      <div class="add-input-box">
        <input type="text" name="title" class="add-input" placeholder="폴더명을 15자 이내로 입력하세요.*">
        <div id="add-length">
          <span class="add-length">0</span><span>&nbsp;/&nbsp;15</span>
        </div>
      </div>
      <input class="submit" type="submit" value="추가">
    </form>
  </section>
  <section id="change" class="root" hidden>
    <div class="change-nav">
      <div class="change-title">폴더명을 입력하세요.</div>
      <div class="cancel">
        <div class="cancel__left"></div>
        <div class="cancel__right"></div>
      </div>
    </div>
    <form class="change-form">
      <div class="change-input-box">
        <input type="text" name="title" class="change-input" placeholder="폴더명을 15자 이내로 변경하세요.*">
        <div id="change-length">
          <span class="change-length">0</span><span>&nbsp;/&nbsp;15</span>
        </div>
      </div>
      <input class="submit" type="submit" value="추가">
    </form>
  </section>
</body>
</html>