<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/api.css">
  <script defer src="/js/api.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <section id="api" data-last="{{last}}" data-user-id="{{user.id}}">
    <img src="{{img}}" alt="api-text" class="api-text">   
    <div class="api-nav">
      <a href="/open" class="api-back">BACK</a>
      <a href="/" class="api-home">HOME</a>
    </div>
    <div class="api-title">{{title}}</div>
    <div class="api-wishlist-box">
      <div class="api-wishlist">WISHLIST에 추가</div>
    </div>
    <div class="api-main">
      {% for list in lists %}
      <div class="list-box">
        <div>
          <div class="list-title">{{list.title}}</div>
          <div class="list-line"></div>
          <div class="list-author">{{list.author}}</div>
          <div class="list-publisher">{{list.publisher}}</div>
          <div class="list-info">
            <div class="list-date">{{list.date}}</div>
            <div class="list-vertical"></div>
            <div class="list-codename">{{list.codeName}}</div>  
          </div>  
        </div>
        <div class="list-img-box">
          <img class="list-img" src="{{list.img}}" alt="">
        </div>
      </div>
      {% endfor %}  
    </div>
    <div class="list-box clone"  hidden>
      <div>
        <div class="list-title">{{list.title}}</div>
        <div class="list-line"></div>
        <div class="list-author">{{list.author}}</div>
        <div class="list-publisher">{{list.publisher}}</div>
        <div class="list-info">
          <div class="list-date">{{list.date}}</div>
          <div class="list-vertical"></div>
          <div class="list-codename">{{list.codeName}}</div>  
        </div>  
      </div>
      <div class="list-img-box">
        <img class="list-img" src="{{list.img}}" alt="">
      </div>
    </div>
    <div class="api-line"></div>
    <div class="api-pagenation">
      <div class="api-page-btn" data-dir="first">&lt;&lt;</div>
      <div class="api-page-btn" data-dir="before">&lt;</div>
      <input type="text" name="targetpage" class="api-page-current" value="1">
      <div class="api-page-last">/&nbsp;&nbsp;{{last}}</div>
      <div class="api-page-move">이동</div>
      <div class="api-page-btn" data-dir="after">&gt;</div>
      <div class="api-page-btn" data-dir="last">&gt;&gt;</div>
    </div>
  </section>
  <section id="folders" hidden class="root">
    <div class="folders-nav">
      <div class="folders-title">폴더</div>
      <div class="folders-cancel-box">
        <div class="folders-cancel-left"></div>
        <div class="folders-cancel-right"></div>
      </div>
    </div>
    <div class="folders-main">
      <div class="folders-main-empty" hidden>
        <div class="folders-add">
          <div class="folders-add-folder">폴더 추가</div>
        </div>
        <div class="folders-main-text">먼저 폴더를 추가해주세요.</div>
      </div>
      <form class="folders-main-form" hidden>
        <div class="folders-add">
          <div class="folders-add-folder">폴더 추가</div>
        </div>
        <div class="label-box"></div>
        <label class="folders-main-label clone" hidden>
          <div class="folders-main-title">
            <input type="radio" name="folder" value="">
            <span></span>  
          </div>
          <div class="folders-main-count"></div>
        </label>  
        <input class="form-submit" type="submit" value="등록">          
      </form>
    </div>
  </section>
  <section id="add" class="root" hidden>
    <div class="folders-nav add">
      <div class="folders-title">폴더 추가 후 등록</div>
      <div class="folders-cancel-box">
        <div class="folders-cancel-left"></div>
        <div class="folders-cancel-right"></div>
      </div>
    </div>
    <form action="" class="folder-add-form">
      <div class="folder-add-radio">
        <label>
          <input id="public" type="radio" name="isPublic" value="public" checked/>
          <span>PUBLIC</span>
        </label>
        <label>
          <input id="private" type="radio" name="isPublic" value="private"/>
          <span>PRIVATE</span>
        </label>  
      </div>
      <input class="folder-add-form-input" type="text" placeholder="폴더 이름을 입력하세요" name="folder" maxlength="20">
      <input class="form-submit" type="submit" value="등록">          
    </form>
  </section>
</body>
</html>