<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/book.css">
  <script defer src="/js/book.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <section id="book">
    <div class="book-left">
      <div class="book-href">
        <a href="/books" class="book__back">
          <img class="book__back__arrow" src="/img/main/back-arrow-white.png" alt="back-arrow-white">
        </a>
        <a href="/" class="book__home">Home</a>
      </div>
      <div class="book-itseft">
        <div class="book__text">Book</div>
        <div class="book__number"><span class="current__book__number">{{book.id}}</span>&nbsp;/&nbsp;{{totalBookCount}}</div>
      </div>
      <div class="book-middle">
        <div class="book-contents">
          <div class="book__img-box">
            <img class="book__img-box__img" src="{{book.img}}" alt="{{book.title}}">
          </div>
          <div class="book-contents-main">
            <div class="book__title">{{book.title}}</div>
            <div class="book-contents__not-title">
              <div class="book__author">{{book.author}}</div>
              <div id="book__recommender">추천이:&nbsp;<a href="/member/{{member.id}}" class="book__recommender">{{member.nick}}</a></div>
              <div id="book__date">모임 날짜:&nbsp;<span class="book__date">{{book.meetingDate}}</span></div>        
            </div>
            <div class="book__rate">
              <div class="book__rate__stars">
                {% for starshape in starshapes %}
                <div class="book__rate__star--relative">
                  <div class="book__rate__star {{starshape}}"></div>
                </div>
                {% endfor %}
              </div>
              <div class="book__rate__number">
                <div class="book__rate__number__current">{{starSum}}</div>
                <div class="book__rate__number__total">&nbsp;/&nbsp;5</div>
              </div>
            </div>    
          </div>  
        </div>  
      </div>
    </div>
    <div class="book-right">
      <div class="review">
        <div class="review__title">Review&nbsp;(<span class="review-title__total">{{totalReview}}</span>)</div>
        <div class="review__write">리뷰 작성</div>
      </div>
      {% if totalReview == 0 %}
      <div class="empty-review">
        <div class="empty-review__text">리뷰를 작성해주세요.</div>
      </div>
      {% endif %}
      {% for reviewbox in reviewBoxes %}
      <div class="review-box">
        <div class="review-box__title">{{reviewbox.title}}</div>
        <div class="review-box__info">
          <div class="review-box__info__stars">
            {% for starshape in reviewbox.stars %}
            <div class="review-box__info__stars__star {{starshape}}"></div>
            {% endfor %}
          </div>
          <div class="review-box__info__line"></div>
          <div class="review-box__info__type">{{reviewbox.type}}</div>
          <div class="review-box__info__line"></div>
          <a href="/member/{{reviewbox.MemberId}}" class="review-box__info__nickname">{{reviewbox.nick}}</a>
          <div class="review-box__info__line"></div>
          <div class="review-box__info__date">{{reviewbox.createdAt}}</div>
          <!-- 현재 로그인한 회원과 작성 회원이 같다면 -->
          {% if user.id == reviewbox.MemberId %} 
          <div class="review-box__info__line"></div>
          <div class="review-box__info__edit" data-review-id="{{reviewbox.id}}" data-review-type="update">수정</div>
          <div class="review-box__info__line"></div>
          <div class="review-box__info__delete" data-review-id="{{reviewbox.id}}" data-review-type="delete">삭제</div>
          {% endif %}
        </div>
        <div class="review-box__text">{{reviewbox.text}}</div>
        <div class="review-box__bottom">
          {% if reviewbox.overText %}
          <div class="review-box__more">
            <div class="review-box__more__text">더보기</div>
            <img class="review-box__more__arrow" src="/img/book/review-arrow.png" alt="review-arrow">
          </div>
          {% endif %}
          <!-- 더보기가 없을때 하트가 오른쪽에 위치하기 위해 필요한 빈 요소 -->
          <div></div>
          <div class="review-box__heart">
            <img class="review-box__heart__img" src="/img/book/blue-heart.png" alt="blue-heart">
            <div class="review-box__heart__total">{{reviewbox.like}}</div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% if totalReview > 0 %}
      <div class="review-paganation">
        {% if totalReview > 25 %}
        <div class="review-paganation__first">
          <img class="review-paganation__img" src="/img/book/page-left-double-arrow.png" alt="page-left-double-arrow.">
        </div>
        {% endif %}
        <div class="review-paganation__before">
          <img class="review-paganation__img" src="/img/book/page-left-arrow.png" alt="page-left-arrow">
        </div>
        <div class="review-paganation__numbers">
          {% for pageNumber in pageNumbers %}
          <a class="review-paganation__number" href="/review/{{book.id}}/page/{{pageNumber}}">{{pageNumber}}</a>
          {% endfor %}
        </div>
        <div class="review-paganation__after">
          <img class="review-paganation__img" src="/img/book/page-right-arrow.png" alt="page-right-arrow">
        </div>
        {% if totalReview > 25 %}
        <div class="review-paganation__last">
          <img class="review-paganation__img" src="/img/book/page-right-double-arrow.png" alt="page-right-double-arrow">
        </div>
        {% endif %}
      </div>
      {% endif %}
      <form id="review-form" data-user="{{user}}">
        <div class="review-form-nav">
          <div class="review-form__title">Review</div>
          <div class="review-form__cancel">
            <div class="review-form__cancel__left"></div>
            <div class="review-form__cancel__right"></div>
          </div>
        </div>
        <div class="review-form-middle">
          <div class="review-form__img-box">
            <img class="review-form__img" src="{{book.img}}" alt="{{book.title}}">
          </div>
          <div class="review-form__info">
            <div class="review-form__info__title">{{book.title}}</div>
            <div class="review-form__info__author">{{book.author}}</div>
            <div class="review-form__stars">
              <div class="review-form__star" data-star="0"></div>
              <div class="review-form__star" data-star="1"></div>
              <div class="review-form__star" data-star="2"></div>
              <div class="review-form__star" data-star="3"></div>
              <div class="review-form__star" data-star="4"></div>
            </div>
          </div>
        </div>
        <div class="review-form-input">
          <input type="text" name="title" class="review-form__input__title" placeholder="제목을 입력해주세요">
          <div id="review-form__text__length"><span class="review-form__text__length">0</span>&nbsp;/&nbsp;<span class="review-form__text__length__limit"></span></div>
          <textarea name="text" id="review-form__text" cols="30" rows="10" placeholder="내용을 3000자 이내로 입력해주세요"></textarea>
          <input class="review-form__submit" type="submit" value="등록">  
        </div>
      </form>  
    </div>
  </section>
</body>
</html>