<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/book.css">
  <script defer src="/js/book.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <section id="book" data-user-id="{{user.id}}">
    <div class="book-left">
      <div class="book-link">
        <a href="/books" class="book-arrow">
          <img class="book-img" src="/img/index/back-arrow-white.png" alt="back-arrow">
        </a>
        <a href="/" class="book-home">HOME</a>
      </div>
      <div class="book-nav">
        <div class="book-nav__text">Book</div>
        <div id="book-nav__number"><span class="book-nav__number">{{book.id}}</span>&nbsp;/&nbsp;{{totalBook}}</div>
      </div>
      <div class="book-main">
        <div class="book-contents">
          <div class="book-img-box">
            <img class="book-img" src="{{book.img}}" alt="{{book.title}}">
          </div>
          <div class="book-info">
            <div class="book-title">{{book.title}}</div>
            <div>
              <div class="book-author">{{book.author}}</div>
              <div id="book-recommender">추천이:&nbsp;<a href="/member/{{member.id}}" class="book-recommender">{{member.nick}}</a></div>
              <div id="book-date">모임 날짜:&nbsp;<span class="book-date">{{book.meetingDate}}</span></div>        
            </div>
            <div class="book-rate-box">
              <div class="book-stars">
                {% for star in starArr %}
                <div class="book-star--relative">
                  <div class="book-star {{star}}"></div>
                </div>
                {% endfor %}
              </div>
              <div class="book-numbers">
                <div class="book-numbers__current">{{starSum}}</div>
                <div class="book-numbers__total">&nbsp;/&nbsp;5</div>
              </div>
            </div>    
          </div>  
        </div>  
      </div>
    </div>
    <div class="book-right">
      <div class="review-nav">
        <div class="review-title">Review&nbsp;(<span class="review-total">{{totalReview}}</span>)</div>
        <div class="review-write-btn">리뷰 작성</div>
      </div>
      {% if totalReview == 0 %}
      <div class="review-empty">
        <div class="review-empty-text">리뷰를 작성해주세요.</div>
      </div>
      <div class="review-container"></div>
      {% else %}
      <div class="review-empty">
        <div class="review-empty-text">리뷰를 작성해주세요.</div>
      </div>
      <div class="review-container">
        {% for review in reviews %}
        <div class="rebox" data-review-id="{{review.id}}">
          <div class="rebox__title">{{review.title}}</div>
          <div class="rebox__info">
            <div class="rebox__stars">
              {% for star in review.stars %}
              <div class="rebox__star {{star}}"></div>
              {% endfor %}
            </div>
            <div class="rebox__line"></div>
            <div class="rebox__type">{{review.type}}</div>
            <div class="rebox__line"></div>
            <a href="/member/{{review.MemberId}}" class="rebox__nickname rebox--common">{{review.nick}}</a>
            <div class="rebox__line"></div>
            <div class="rebox__date rebox--common">{{review.createdAt}}</div>
            <div class="rebox__line"></div>
            <div class="rebox__updatedDate rebox--common">{{review.updatedAt}}</div>
            <!-- 현재 로그인한 회원과 작성 회원이 같다면 -->
            {% if user.id == review.MemberId %} 
            <div class="rebox__user" >
              <div class="rebox__line"></div>
              <div class="rebox__edit rebox--common">수정</div>
              <div class="rebox__line"></div>
              <div class="rebox__delete rebox--common">삭제</div>  
            </div>
            {% endif %}
          </div>
          <!-- slice가 null이라면 -->
          {% if not review.text.slice %}
          <div class="rebox__text">{{review.text.original}}</div>
          <div class="rebox__text" hidden></div>
          {% else %}
          <!-- slice가 null이 아니라면 -->
          <div class="rebox__text">{{review.text.slice}}...</div>
          <div class="rebox__text" hidden>{{review.text.original}}</div>
          {% endif %}
          <div class="rebox__bottom">
            {% if review.overText %}
            <div class="more-btn">
              <div class="more-btn__text">더보기</div>
              <img class="more-btn__arrow" src="/img/book/review-arrow.png" alt="review-arrow">
            </div>
            {% endif %}
            <!-- 더보기가 없을때 하트가 오른쪽에 위치하기 위해 필요한 빈 요소 -->
            <div></div>
            <div class="heart">
              <div class="heart-box">
                <img class="heart-img" src="/img/book/blue-heart.png" alt="blue-heart">
                <img class="heart-img" src="/img/book/blue-heart.png" alt="blue-heart">
              </div>
              <div class="heart-total">{{review.like}}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="rebox clone" hidden>
        <div class="rebox__title"></div>
        <div class="rebox__info">
          <div class="rebox__stars">
            <div class="rebox__star"></div>
            <div class="rebox__star"></div>
            <div class="rebox__star"></div>
            <div class="rebox__star"></div>
            <div class="rebox__star"></div>
          </div>
          <div class="rebox__line"></div>
          <div class="rebox__type"></div>
          <div class="rebox__line"></div>
          <a href="" class="rebox__nickname rebox--common"></a>
          <div class="rebox__line"></div>
          <div class="rebox__date rebox--common"></div>
          <div class="rebox__line"></div>
          <div class="rebox__updatedDate rebox--common"></div>
          <div class="rebox__user">
            <div class="rebox__line"></div>
            <div class="rebox__edit rebox--common">수정</div>
            <div class="rebox__line"></div>
            <div class="rebox__delete rebox--common">삭제</div>  
          </div>
        </div>
        <!-- slice와 original 두 가지 버전 -->
        <div class="rebox__text"></div>
        <div class="rebox__text" hidden></div>
        <!-- 아래 요소는 어차피 기본 hidden임, 
        왜냐면 slice버전 보여줄때는 더보기 누르기 전까지 숨겨야 하고
        original 버전만 보여줄때는 그냥 숨겨야 함. -->
        <div class="rebox__bottom">
          <div class="more-btn">
            <div class="more-btn__text">더보기</div>
            <img class="more-btn__arrow" src="/img/book/review-arrow.png" alt="review-arrow">
          </div>
          <div></div>
          <div class="heart">
            <div class="heart-box">
              <img class="heart-img" src="/img/book/blue-heart.png" alt="blue-heart">
              <img class="heart-img" src="/img/book/blue-heart.png" alt="blue-heart">
            </div>  
            <div class="heart-total"></div>
          </div>
        </div>
      </div>
      <div class="paganation" hidden>
        <div class="page-first page-btn" hidden>&lt;&lt;</div>
        <div class="page-before page-btn" hidden>&lt;</div>
        <div class="page-numbers" hidden>
          <div class="page-number" hidden></div>
          <div class="page-number" hidden></div>
          <div class="page-number" hidden></div>
          <div class="page-number" hidden></div>
          <div class="page-number" hidden></div>
        </div>
        <div class="page-after page-btn" hidden>&gt;</div>
        <div class="page-last page-btn" hidden>&gt;&gt;</div>  
      </div>
    </div>
  </section>
  <form id="review-form" data-id="">
    <div class="form-nav">
      <div class="form__title">Review</div>
      <div class="form__cancel">
        <div class="form__cancel__left"></div>
        <div class="form__cancel__right"></div>
      </div>
    </div>
    <div class="form-book">
      <div class="form__img-box">
        <img class="form__img" src="{{book.img}}" alt="{{book.title}}">
      </div>
      <div class="form__info">
        <div class="form-book__title">{{book.title}}</div>
        <div class="form__author">{{book.author}}</div>
        <div class="form__stars">
          <div class="form__star" data-star="0"></div>
          <div class="form__star" data-star="1"></div>
          <div class="form__star" data-star="2"></div>
          <div class="form__star" data-star="3"></div>
          <div class="form__star" data-star="4"></div>
        </div>
      </div>
    </div>
    <div class="input-box">
      <input type="text" name="title" class="input__title" placeholder="제목을 입력해주세요*" maxlength="30">
      <div id="textarea__length"><span class="textarea__length">0</span>&nbsp;/&nbsp;<span class="textarea__length__limit">3000</span></div>
      <textarea name="text" id="textarea" cols="30" rows="10" placeholder="내용을 3000자 이내로 입력해주세요*"></textarea>
      <input class="submit" type="submit" value="등록">  
    </div>
  </form>  
</body>
</html>