<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/books.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schoolbell&display=swap" rel="stylesheet">
  <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon2" sizes="180x180" href="/img/favicon/apple-icon.png">
  <meta name="description" content="Seo Hanna Portfolio">
</head>
<body>
  <section id="books">
    <div class="books-left">
      <div class="books-left__main">
        <div class="books-left__title">Books</div>
        <div class="books-left__sub">Total 13 books.</div> 
      </div>
      <a href="/" class="back__arrow">
        <img class="back__arrow__img" src="/img/main/back-arrow-white.png" alt="back-arrow">
      </a> 
    </div>
    <div class="books-right">
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
      <div class="books-right__book book-deco">
        <div class="book-deco__text">
          <span class="book-deco__text--bold">BOOKS</span>
          <br>
          SINCE 2023
          <br>
          BOOK CLUB
          <br>
          WITH FRIENDS
        </div>
      </div>
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
      <div class="books-right__book">
        <div class="books-right__book__title">공정하다는 착각</div>
        <div class="books-right__book__author">마이클 샌델</div>
        <div class="books-right__book__blank"></div>
      </div>
    </div>
  </section>
</body>
</html>