<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/list.css">
  <script defer src="/js/donelist.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <section id="donelist" data-donelist="{{doneLists.length}}">
    <div class="donelist">
      <div id="list-top">
        <div class="list-block">
          <a href="/wishlist/{{member.id}}" class="list-back-arrow">
            <img class="list-img" src="/img/main/back-arrow.png" alt="back-arrow">
          </a>
          <div class="list-block-info">
            <div class="list-block__title">읽은 것들&nbsp;(<span class="list-total">{{count}}</span>)</div>
            <a href="/member/{{member.id}}" class="list-block__nick">{{member.nick}}</a>  
          </div>
        </div>
        <div class="list-btns">
          <div class="list-btn" data-btn="back">완독 해제</div>
          <div class="list-btn" data-btn="delete">삭제</div>
        </div>        
      </div>
      {% if doneLists.length == 0 %}
      <div class="list-contents">
        <div class="list-empty">완독이 필요합니다.</div>
      </div>
      {% else %}
      <div class="list-contents grid">
        <div class="list-empty" hidden>완독이 필요합니다.</div>
        {% for list in doneLists %}
        <div class="list-box" data-list-id="{{list.id}}">
          <div class="list-img-box">
            <img class="list-img width" src="{{list.img}}" alt="">
          </div>
          <div class="list-box-title">{{list.title}}</div>
          <div class="list-box-author">{{list.author}}</div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </section>
</body>
</html>