<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/fun.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schoolbell&display=swap" rel="stylesheet">
  <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon2" sizes="180x180" href="/img/favicon/apple-icon.png">
  <meta name="description" content="Seo Hanna Portfolio">
</head>
<body>
  <section id="fun">
    <div class="fun-nav">
      <a href="/fun" class="fun__title">Fun</a>
      <a href="/" class="fun__home">Home</a>  
    </div>
    <div class="fun-name-cards">
      <a href="/fun/choice" class="fun-project fun-project-choice">
        <div class="fun-choice-back fun-project-back">
          <div class="fun-choice-back__title-box">
            <div class="fun-choice-back__title">Choice</div>
          </div>
          <div class="fun-choice-back__text-box">
            <div class="fun-choice-back__text">이상형 월드컵</div>
            <div class="fun-choice-back__text">A OR B</div>
            <div class="fun-choice-back__text">사람 고르기</div>
            <div class="fun-choice-back__text">노래 고르기</div>
            <div class="fun-choice-back__text">순위 살펴보기</div>
            <div class="fun-choice-back__text">이미지 다운로드</div>  
          </div>
        </div>
        <div class="fun-choice-front fun-project-front">
          <div class="fun-choice-front__title-box">
            <div class="fun-choice-front__title">Choice</div>
          </div>
        </div>    
      </a>
      <a href="/fun/quotes" class="fun-project fun-project-quotes">
        <div class="fun-quotes-back fun-project-back">
          <div class="fun-quotes-back__title-box">
            <div class="fun-quotes-back__title">Quotes</div>
          </div>
          <div class="fun-quotes-back__text-box">
            <div class="fun-quotes-back__text">인용구 고르기</div>
            <div class="fun-quotes-back__text">배경 선정하기</div>
            <div class="fun-quotes-back__text">이미지 다운로드</div>
            <div class="fun-quotes-back__text">나만의 발췌 이미지 갖기</div>
          </div>
        </div>  
        <div class="fun-quotes-front fun-project-front">
          <div class="fun-quotes-front__title-box">
            <div class="fun-quotes-front__title fun-quotes">Quotes</div>
          </div>
        </div>  
      </a>
      <a href="/fun/api" class="fun-project fun-project-api">
        <div class="fun-api-back fun-project-back">
          <div class="fun-api-back__title-box">
            <div class="fun-api-back__title">API</div>
          </div>
          <div class="fun-api-back__text-box">
            <div class="fun-api-back__text">국립중앙도서관 API</div>
            <div class="fun-api-back__text">WISHLIST에 책 추가하기</div>
          </div>
        </div> 
        <div class="fun-api-front fun-project-front">
          <div class="fun-api-front__title-box">
            <div class="fun-api-front__title">API</div>
          </div>
        </div>   
      </a>
    </div>
  </section>
</body>
</html>