<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/fun.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  <section id="fun">
    <div id="fun-left">
      <div class="fun-head"></div>
      <div class="fun-middle">
        <div class="fun-middle__left"></div>
        <div class="fun-middle__right">
          <a href="/" class="fun-home">HOME</a>
          <div class="fun-title">
            Enjoy
            <br>
            Fun
            <br>
            Projects
          </div>
        </div>
      </div>
      <div class="fun-bottom"></div>
    </div>
    <div id="fun-right">
      <div class="fun-head"></div>
      <div class="fun-projects">
        <a href="/favorites" class="fun-project">
          <div class="fun-project__title">
            01
            <br>
            Choice
          </div>
          <div class="fun-project__explanation">
            다양한 카테고리의<br>이상형 월드컵 즐기기
          </div>
        </a>
        <a href="/quotes" class="fun-project">
          <div class="fun-project__title">
            02
            <br>
            Quotes
          </div>
          <div class="fun-project__explanation">
            맘에 드는 구절을<br>나만의 이미지로 꾸미기
          </div>
        </a>
        <a href="/open" class="fun-project">
          <div class="fun-project__title">
            03
            <br>
            API
          </div>
          <div class="fun-project__explanation">
            OPEN API를 통해 다양한 도서를 접하고<br>나의 WISHLIST에 저장하기
          </div>
        </a>
      </div>
    </div>
  </section>
</body>
</html>