<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/public/css/list.css">
  <script defer src="/public/js/list.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <section id="list">
    <div class="list">
      <div id="list-top">
        <div class="list-block">
          <a href="/wishlist/1" class="list-back-arrow">
            <img class="list-img" src="/public/img/main/back-arrow.png" alt="">
          </a>
          <div class="list-block-info">
            <div class="list-block__title">프로그래밍&nbsp;(22)</div>
            <a href="/member/1" class="list-block__nick">서망고</a>  
          </div>
        </div>
        <div class="list-btns">
          <div class="list-btn" data-btn="add">리스트 추가</div>
          <div class="list-btn" data-btn="delete">삭제</div>
          <div class="list-btn" data-btn="move">폴더 이동</div>
          <div class="list-btn" data-btn="read">완독</div>
        </div>        
      </div>
      <!-- <div class="list-contents">
        <div class="list-empty">리스트를 추가해주세요.</div>
      </div> -->
      <div class="list-contents grid">
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
        <div class="list-box">
          <div class="list-img-box">
            <img class="list-img" src="/public/img/list/default.jpeg" alt="default">
          </div>
          <div class="list-box-title">어린왕자</div>
          <div class="list-box-author">쌩땍쥐베리</div>
        </div>
      </div>
    </div>
    <div id="list-add">
      <div class="list-nav">
        <div class="list-title">
          리스트 추가
        </div>
        <div class="list-cancel-box">
          <div class="list-cancel-box__left"></div>
          <div class="list-cancel-box__right"></div>
        </div>
      </div>
      <div class="list-add" hidden>
        <form class="list-add-form" action="" enctype="multipart/form-data">
          <label for="add-img" class="add-img-label">
            <div class="add-img-plus-ver"></div>
            <div class="add-img-plus-hor"></div>
          </label>
          <input id="add-img" class="add-img-input" type="file" accept="image/*">
          <input class="add-title" type="text" maxlength="20" placeholder="책 제목을 입력하세요">
          <input class="add-author" type="text" maxlength="10" placeholder="저자를 입력하세요">
          <input class="form-submit" type="submit" value="등록">
        </form>
      </div>
    </div>
    <div id="list-move">
      <div class="list-nav">
        <div class="list-title">
            폴더 이동
        </div>
        <div class="list-cancel-box">
          <div class="list-cancel-box__left"></div>
          <div class="list-cancel-box__right"></div>
        </div>
      </div>
      <div class="list-move">
        <form class="list-move-form" action="">
          <label class="list-move-label">
            <div class="list-move-title">
              <input id="" type="radio" name="listFolder" value="">
              <span>인문학</span>  
            </div>
            <div class="list-move-count">19개</div>
          </label>
          <label class="list-move-label">
            <div class="list-move-title">
              <input id="" type="radio" name="listFolder" value="">
              <span>인문학</span>  
            </div>
            <div class="list-move-count">19개</div>
          </label>
          <label class="list-move-label">
            <div class="list-move-title">
              <input id="" type="radio" name="listFolder" value="">
              <span>인문학</span>  
            </div>
            <div class="list-move-count">19개</div>
          </label>
          <input class="form-submit" type="submit" value="등록">
        </form>
      </div>
    </div>
  </section>
</body>
</html>