<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/members.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <section id="members">
    <div class="members-left">
      <div class="members-left__main">
        <div class="members-left__title">Members</div>
        <div class="members-left__sub">Total&nbsp;{{total}}&nbsp;member</div>  
      </div>
      <a href="/" class="back__arrow">
        <img class="back__arrow__img" src="/img/main/back-arrow.png" alt="back-arrow">
      </a> 
    </div>
    <div class="members-right">
      <a class="members__member" href="/member/1">
        <div class="member__hangul">
          ㅅㅓ
          <br>
          ㅎㅏㄴ 
          <br>
          ㄴㅏ
        </div>
        <div class="member__alphabet">Seo Hanna</div>
      </a>
      <a class="members__member" href="/member/2">
        <div class="member__hangul">
          ㄱㅣㅁ
          <br>
          ㅈㅓㅇ 
          <br>
          ㄱㅕㅇ
        </div>
        <div class="member__alphabet">Kim Jungkyung</div>
      </a>
      <a class="members__member" href="/member/3">
        <div class="member__hangul">
          ㄱㅏ
          <br>
          ㅇㅖ 
          <br>
          ㄹㅣㅁ
        </div>
        <div class="member__alphabet">Kang Yerim</div>
      </a>
      <a class="members__member" href="/member/4">
        <div class="member__hangul">
          ㄱㅣㅁ
          <br>
          ㅎㅕㄴ 
          <br>
          ㅇㅏ
        </div>
        <div class="member__alphabet">Kim Hyuna</div>
      </a>
    </div>
  </section>
</body>
</html>