<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/member.css">
  <script defer src="/js/member.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
  <section id="member">
    <div class="member-left">
      {% if member.id === 1 %}
      <div class="member__name">
        <div class="member__hangul">
          ㅅㅓ
          <br>
          ㅎㅏㄴ 
          <br>
          ㄴㅏ
        </div>
        <div class="member__alphabet">Seo Hanna</div>
      </div>
      {% elif member.id === 2 %}
      <div class="member__name">
        <div class="member__hangul">
          ㄱㅣㅁ
          <br>
          ㅈㅓㅇ 
          <br>
          ㄱㅕㅇ
        </div>
        <div class="member__alphabet">Kim Jungkyung</div>
      </div>
      {% elif member.id === 3 %}
      <div class="member__name">
        <div class="member__hangul">
          ㄱㅏ
          <br>
          ㅇㅖ 
          <br>
          ㄹㅣㅁ
        </div>
        <div class="member__alphabet">Kang Yerim</div>
      </div>
      {% elif member.id === 4 %}
      <div class="member__name">
        <div class="member__hangul">
          ㄱㅣㅁ
          <br>
          ㅎㅕㄴ 
          <br>
          ㅇㅏ
        </div>
        <div class="member__alphabet">Kim Hyuna</div>
      </div>
      {% endif %}
      <div class="member__info">
        <div class="member__info-contents">
          <a href="/wishlist/{{member.id}}" id="member__info__wishlist">WISHLIST</a>
          <div id="member__info__nick">nickname<div class="member__info__nick">{{member.nick}}</div></div>
          <div class="member__info__numbers">
            <div class="member__info__numbers__books tooltip-elem" data-type="books">{{recommendedBookCount}}<span class="member__info__numbers__books--total">&nbsp;/&nbsp;{{totalBookCount}}</span></div>
            <div class="member__info__numbers__attendance tooltip-elem" data-type="attendance">{{attendCount}}<span class="member__info__numbers__attendance--total">&nbsp;/&nbsp;{{totalBookCount}}</span></div>
            <div class="tooltip books-tooltip" hidden>
              추천 횟수&nbsp;/&nbsp;총 도서 권수
            </div>
            <div class="tooltip attendance-tooltip" hidden>
              참여 횟수&nbsp;/&nbsp;총 독서모임 횟수
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="member-books">
      <div class="member__nav">
        <a href="/members" class="member__nav__back">
          <img class="member__nav__back__img" src="/img/main/back-arrow.png" alt="back-arrow">
        </a>
        <a href="/" class="member__nav__home">Home</a>
      </div>  
      <div class="member-books__container">
        {% for book in recommendedBook %}
        <a href="/book/{{book.id}}" class="member-books__book">
          <div class="member-books__book__title">{{book.title}}</div>
          <div class="member-books__book__author">{{book.author}}</div>
          <div class="member-books__book__blank"></div>  
        </a>
        {% endfor %}
        <div class="member-books__blank">
          YOU
          <br>
          SHOULD
          <br>
          READ
          <br>
          MORE
          <br>
          BOOKS!
        </div>
      </div>
    </div>
  </section>
</body>
</html>