<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/wishlist.css">
  <script defer src="/js/wishlist.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <section id="wishlist" data-total-folder="{{folderBoxes.length}}">
    <div class="wishlist">
      <a href="/" class="wishlist__home">HOME</a>
      <a href="/member/{{member.id}}" class="wishlist__nick">{{member.nick}}</a>  
    </div>
    {% if folderBoxes.length == 0 %}
    <div class="wishlist-contents">
      <div class="wishlist-empty">오른쪽 마우스를 클릭해 폴더를 추가해보세요.</div>
      <div class="wishlist-folder done" hidden>
        <div class="wishlist-folder__img-box">
          <img class="wishlist__img" src="/img/wishlist/green-folder.png" alt="folder-done">
          <div class="wishlist-folder__count done">{{doneFolder.count}}</div>
        </div>
        <div class="wishlist-folder__title done">읽은 것들</div>
      </div>
    </div> 
    <div class="wishlist-folder clone" hidden>
      <div class="wishlist-folder__img-box">
        <img class="wishlist__img" src="/img/wishlist/green-folder.png" alt="folder">
        <div class="wishlist-folder__count"></div>
      </div>
      <div class="wishlist-folder__title"></div>
    </div>
    {% else %}
    <div class="wishlist-contents grid">
      {% for folderBox in folderBoxes %}
      <div class="wishlist-folder" data-folder-id="{{folderBox.id}}" data-public="{{folderBox.public}}" data-createdAt="{{folderBox.createdAt}}" data-updatedAt="{{folderBox.updatedAt}}">
        <div class="wishlist-folder__img-box">
          <img class="wishlist__img" src="/img/wishlist/green-folder.png" alt="folder">
          <div class="wishlist-folder__count">{{folderBox.count}}</div>
        </div>
        <div class="wishlist-folder__title">{{folderBox.title}}</div>
      </div>
    {% endfor %}
      <div class="wishlist-folder done">
        <div class="wishlist-folder__img-box">
          <img class="wishlist__img" src="/img/wishlist/green-folder.png" alt="folder-done">
          <div class="wishlist-folder__count done">{{doneFolder.count}}</div>
        </div>
        <div class="wishlist-folder__title done">읽은 것들</div>
      </div>
      <div class="wishlist-folder clone" hidden>
        <div class="wishlist-folder__img-box">
          <img class="wishlist__img" src="/img/wishlist/green-folder.png" alt="folder">
          <div class="wishlist-folder__count"></div>
        </div>
        <div class="wishlist-folder__title"></div>
      </div>
    </div>
    </div>
    {% endif %}
    <div id="folder-menu" hidden>
      <a class="menu" data-menu="open">열기</a>
      <div class="menu" data-menu="name">이름 변경</div>
      <div class="menu" data-menu="delete">삭제</div>
    </div>
    <div id="area-menu" hidden>
      <div class="menu" data-menu="add">새로운 폴더</div>
      <div class="menu" data-menu="sort">
        <div>다음으로 정렬</div>
        <img class="menu__arrow" src="/img/wishlist/right-arrow.png" alt="arrow">
        <div id="sort-menu" hidden>
          <div class="menu" data-menu="sort-name">이름</div>
          <div class="menu" data-menu="sort-updated">수정일</div>  
          <div class="menu" data-menu="sort-created">생성일</div>  
        </div>  
      </div>
    </div>
    <div id="add-folder" class="root" hidden>
      <div class="add-folder__nav">
        <div class="add-folder__title">폴더 추가</div>
        <div class="cancel">
          <div class="cancel__left"></div>
          <div class="cancel__right"></div>
        </div>
      </div>
      <form class="add-folder__form">
        <div id="add-folder__raio">
          <label>
            <input id="public" type="radio" name="isPublic" value="public" checked/>
            <span>PUBLIC</span>
          </label>
          <label>
            <input id="private" type="radio" name="isPublic" value="private"/>
            <span>PRIVATE</span>
          </label>
        </div>
        <div id="add-folder__input">
          <input type="text" name="title" class="add-folder__input" placeholder="폴더명을 10자 이내로 입력하세요.">
          <div id="add-folder__length">
            <span class="add-folder__length">0</span><span>&nbsp;/&nbsp;10</span>
          </div>
        </div>
        <input id="add-folder__submit" type="submit" value="추가">
      </form>
    </div>
    <div id="change-name" class="root" hidden>
      <div class="change-name__nav">
        <div class="change-name__title">폴더명을 입력하세요.</div>
        <div class="cancel">
          <div class="cancel__left"></div>
          <div class="cancel__right"></div>
        </div>
      </div>
      <form class="change-name__form">
        <div id="change-name__input">
          <input type="text" name="name" class="change-name__input" placeholder="폴더명을 10자 이내로 변경하세요.">
          <div id="change-name__length">
            <span class="change-name__length">0</span><span>&nbsp;/&nbsp;10</span>
          </div>
        </div>
        <input id="change-name__submit" type="submit" value="추가">
      </form>
    </div>
  </section>
</body>
</html>