:root {
  --font-korean:"Noto Sans KR", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body::-webkit-scrollbar {
  display: none;
}

.books-right::-webkit-scrollbar {
  display: none;
}

#books {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.books-left {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  border-right: 1px solid black;
  background-color: #0c3aa5;
  color: white;
}

.books-left__main {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 10px;
}

.books-left__title {
  font-family: var(--font-montserrat);
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -2px;
  margin-bottom: 5px;
}

.books-left__sub {
  font-family: var(--font-montserrat);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -1px;
}

.back__arrow {
  display: block;
  width: 150px;
  cursor: pointer;
  margin-top: 40px;
}

.back__arrow__img {
  display: block;
  width: 100%;
}

.books-right {
  padding: 20px;
  overflow: scroll;
}

.books-right__book {
  border: 1px solid black;
  aspect-ratio: 1 / 1.5;
  margin-bottom: 20px;
  padding: 10px;
  display: grid;
  grid-template-rows: min-content min-content auto;
  cursor: pointer;
}

.books-right__book__title,
.books-right__book__author {
  font-size: 1rem;
  font-family: var(--font-korean);
  letter-spacing: -1px;
}

.books-right__book__title {
  font-weight: 500;
  margin-bottom: 3px;
}

.books-right__book__author {
  font-weight: 300;
  margin-bottom: 5px;
}

.books-right__book__blank {
  background-color: #c8e5f4;
}

@media all and (min-width: 650px) {
  #books {
    grid-template-columns: 3fr 7fr;
  }

  .books-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }  

  .books-right__book {
    margin-bottom: 0;
  }
}

@media all and (min-width: 800px) {
  .books-right {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1000px) {
  .books-right {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1300px) {    
  .books-right__book__title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .books-right__book__author {
    font-size: 1.2rem;
    margin-bottom: 7px;
  }  
}
