:root {
  --font-Merriweather: "Merriweather", serif;
  --font-notoKR:"Noto Sans KR", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-schoolbell: "Schoolbell", cursive;
  --font-rubik: "Rubik", sans-serif;
  --font-rubikScribble: "Rubik Scribble", system-ui;
  --font-rubik-doodle: "Rubik Doodle Shadow", system-ui;
  --font-rubik-bubbles: "Rubik Bubbles", system-ui;
  --font-rock: "Rock Salt", cursive;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.book-right::-webkit-scrollbar {
  display: none;
}

#book {
  /* display: grid;
  grid-template-columns: 9fr 1fr; */
}

.book-left {
  background-color: #0c3aa5;
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid black;
  height: 80vh;
}

.book-href {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: var(--font-montserrat);
  color: white;
  height: 5%;
}

.book__home {
  color: white;
  font-family: var(--font-montserrat);
  text-decoration: none;
  font-size: 1.2rem;
}

.book__back__arrow {
  width: 70px;
  display: block;
}

.book-itseft {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: var(--font-montserrat);
  color: white;
  height: 5%;
}

.book__text {
  font-weight: 500;
  font-size: 1.7rem;
}

.book__number {
  font-size: 1.2rem;
}

.book-middle {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-contents {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: fit-content;
}

.book__img-box {
  border: 1px solid black;
  height: fit-content;
  max-width: 225px;
}

.book__img-box__img {
  width: 100%;
  display: block;
}

.book-contents-main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.book__title {
  font-family: var(--font-notoKR);
  font-size: 2rem;
  letter-spacing: -2px;
  font-weight: 600;
  color: white;
  text-align: end;
}

.book-contents__not-title {
  margin: 30px 0;
}

.book__author {
  font-family: var(--font-notoKR);
  font-size: 1rem;
  letter-spacing: -1px;
  text-align: end;
  font-weight: 300;
}

#book__recommender {
  font-family: var(--font-notoKR);
  font-size: 1rem;
  letter-spacing: -1px;
  text-align: end;
  font-weight: 300;
  margin-top: 3px;
}

.book__recommender {
  font-weight: 500;
}

#book__date {
  font-family: var(--font-notoKR);
  font-size: 1rem;
  letter-spacing: -1px;
  text-align: end;
  font-weight: 300;
  margin-top: 3px;
}

.book__date {
  font-weight: 500;
}

.book__rate__stars {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  justify-content: flex-end;
  margin-bottom: 3px;
}

/* 
clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
clip-path: polygon(50% 0%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
*/

.book__rate__star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: white;
  width: 30px;
  height: 30px;
}

.book__rate__number {
  font-family: var(--font-montserrat);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  margin-left: 10px;
}

.book-right {
  padding: 20px 20px 0 20px;
  position: relative;
}

.review {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.review__title {
  font-family: var(--font-montserrat);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -1px;
}

.review__write {
  cursor: pointer;
  font-family: var(--font-notoKR);
  background-color: #0c3aa5;
  color: white;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  letter-spacing: -0.8px;
  border-radius: 2px;
}

.review-box {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}

.review-box__title {
  font-family: var(--font-notoKR);
  font-size: 1.1rem;
  letter-spacing: -1px;
  font-weight: 500;
}

.review-box__info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.review-box__info__line {
  width: 1px;
  height: 15px;
  background-color: grey;
  margin: 0 5px;
}

.review-box__info__stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-box__info__stars__star {
  width: 15px;
  height: 15px;
  background-color: #0c3aa5;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.review-box__info__nickname,
.review-box__info__date,
.review-box__info__edit,
.review-box__info__delete {
  font-family: var(--font-notoKR);
  font-size: 0.8rem;
  letter-spacing: -1px;
  cursor: pointer;
  color: grey;
}

.review-box__text {
  width: 100%;
  font-family: var(--font-notoKR);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  line-height: 1.4;
}

.review-box__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.review-box__more {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.review-box__more__text {
  font-family: var(--font-notoKR);
  font-size: 0.8rem;
  letter-spacing: -0.8px;
  color: grey;
  margin-right: 5px;
}

.review-box__more__arrow {
  display: block;
  width: 15px;
}

.review-box__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.review-box__heart__img {
  width: 15px;
  display: block;
}

.review-box__heart__total {
  margin: 0px 5px;
  font-family: var(--font-montserrat);
  font-weight: 500;
  color: #0c3aa5;
  font-size: 0.8rem;
}

.review-paganation {
  margin: 30px 0 30px 0;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}

.review-paganation__img {
  height: 15px;
  display: block;
}

.review-paganation__first,
.review-paganation__last {
  cursor: pointer;
}

.review-paganation__before,
.review-paganation__after {
  margin: 0px 15px;
  cursor: pointer;
}

.review-paganation__numbers {
  font-family: var(--font-montserrat);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.review-paganation__number {
  margin-right: 15px;
}

.review-last-number {
  margin-right: 0px;
}

#review-form {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: white;
  display: none;
  border: 1px solid black;
}

.review-form__nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.review-form__title {
  font-family: var(--font-montserrat);
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: -1px;
}

.review-form__cancel {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

.review-form__cancel__left,
.review-form__cancel__right {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1.5px;
  background-color: black;
}

.review-form__cancel__left {
  transform: translate(-50%, -50%) rotate(45deg);
}

.review-form__cancel__right {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.review-form-middle {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 10px;
  background-color: #0c3aa5;
  padding: 20px;
  border-radius: 3px;
  box-sizing: border-box;
}

.review-form__img {
  width: 100%;
  display: block;
}

.review-form__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-form__info__title {
  font-family: var(--font-notoKR);
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}

.review-form__info__author {
  font-family: var(--font-notoKR);
  font-size: 0.9rem;
  font-weight: 300;
  margin: 7px 0 15px 0;
  color: white;
}

.review-form__stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.review-form__star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: white;
  opacity: 0.5;
  width: 25px;
  height: 25px;
}

.review-form__input__title {
  width: 100%;
  border: none;
  font-size: 1rem;
  resize: none;
  outline: none;
  appearance: none;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-family: var(--font-notoKR);
}

#review-form__text {
  width: 100%;
  border: 1px solid black;
  resize: none;
  outline: none;
  appearance: none;
  padding: 10px;
  box-sizing: border-box;
  font-family: var(--font-notoKR);
}

.review-form__submit {
  border: none;
  background-color: #0c3aa5;
  color: white;
  width: 90px;
  margin: 0 auto;
  display: block;
  font-size: 1rem;
  padding: 7px 0;
  border-radius: 3px;
  cursor: pointer;
}

@media all and (min-width: 600px) {
  #book {
    display: grid;
    grid-template-columns: 3fr 7fr;
  }  

  .book-left {
    position: sticky;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    border-right: 1px solid black;
  }

  .book-contents {
    display: block;
  }  

  .book__img-box {
    margin-bottom: 30px;
  }

  #review-form {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media all and (min-width: 800px) {
  .book__img-box {
    max-width: 190px;
  }

  .book-right {
    padding: 30px 30px 0 30px;
  }

  #review-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 90vh;
  }
}

@media all and (min-width: 1270px) {
  #book {
    grid-template-columns: 4fr 6fr;
  }

  .book-left {
    padding: 40px;
  }

  .book-contents {
    display: grid;
  }  

  .book__img-box {
    margin-bottom: 0px;
    max-width: 300px;
  }

  .book-right {
    padding: 40px 40px 0 40px;
  }
}