:root {
  --font-Merriweather: "Merriweather", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-korean: "Noto Sans KR", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

.category-title {
  font-family: var(--font-montserrat);
  font-size: 7rem;
  letter-spacing: -10px;
  font-weight: 600;
  line-height: 0.7;
}

.category-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.category-box.right{
  display: flex;
  align-items: center;
  justify-content: end;
}

.category {
  cursor: pointer;
  overflow: hidden;
  border: 1.5px solid black;
  display: grid;
  grid-template-columns: 6fr 4fr;
  box-sizing: border-box;
}

.category.ttpd {
  width: 400px;
}

.category.pop {
  width: 450px;
}

.category.kpop {
  width: 100%;
}

.category.hfc {
  width: 400px;
  grid-template-columns: 1fr 1fr;
}

.category.kmc {
  width: 400px;
}

.category-img-box {
  border-right: 1.5px solid black;
}

.category-img {
  display: block;
  width: 100%;
}

.category-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-info-title {
  font-family: var(--font-montserrat);
  font-size: 3.5rem;
  letter-spacing: -6px;
  font-weight: 600;
  line-height: 0.7;
}

.category-info-title.hfc,
.category-info-title.hmc  {
  font-size: 2rem;
  letter-spacing: -4px;
}

.category-info-title.kfc,
.category-info-title.kmc  {
  font-size: 3rem;
  letter-spacing: -6px;
}


.category-explanation {
  font-family: var(--font-poppins);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: -1px;
}

.category-info-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.category-round {
  font-family: var(--font-montserrat);
  font-size: 4rem;
  letter-spacing: -5px;
  font-weight: 600;
  line-height: 0.7;
}