:root {
  --font-korean:"Noto Sans KR", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --height: 70px;
}

body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#fun {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fun-head,
.fun-bottom {
  height: var(--height);
  width: 100%;
  background-color: #ab181b;
}

.fun-middle {
  box-sizing: border-box;
  height: calc(100% - 2 * var(--height));
  display: grid;
  grid-template-columns: var(--height) 1fr;
  border-right: 1px solid black;
}

.fun-middle__left {
  width: var(--height);
  background-color: #ab181b;
}

.fun-home {
  text-decoration: none;
  color: black;
  font-family: var(--font-montserrat);
  font-size: 1.2rem;
  letter-spacing: -1.7px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.fun-title {
  padding-left: 5px;
  font-family: var(--font-montserrat);
  font-size: 2.5rem;
  letter-spacing: -4px;
  font-weight: 300;
  color: #ab181b;
  box-sizing: border-box;
  padding-top: 10px;
}

.fun-projects {
  box-sizing: border-box;
  height: calc(100vh - var(--height));
}

.fun-project {
  box-sizing: border-box;
  height: 33.3%;
  border-bottom: 1px solid black;
  display: block;
  text-decoration: none;
  color: black;
  display: grid;
  grid-template-rows: 6fr 4fr;
}

.fun-project__title {
  font-family: var(--font-montserrat);
  font-size: 4rem;
  letter-spacing: -7px;
  font-weight: 300;
  box-sizing: border-box;
  line-height: 0.8;
  padding: 5px 0 0 5px;
}

.fun-project__explanation {
  box-sizing: border-box;
  font-family: var(--font-korean);
  display: flex;
  align-items: flex-end;
  font-size: 0.9rem;
  letter-spacing: -0.9px;
  font-weight: 300;
  padding: 0 0 5px 5px;
}

@media all and (min-width: 1000px) {
  .fun-home {
    font-size: 1.4rem;
    letter-spacing: -2px;
  }
  
  .fun-title {
    height: calc(100vh - 30px - 2 * var(--height));
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    letter-spacing: -7px;
  }

  .fun-project__explanation {
    font-size: 1rem;
    letter-spacing: -2px;
  }  
}