:root {
  --font-Merriweather: "Merriweather", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-korean: "Noto Sans KR", sans-serif;
  --downDistance: 1700%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 1000vh;
}

a {
  text-decoration: none;
  color: black;
}

body::-webkit-scrollbar {
  display: none;
}

/* sticky 덕분에 스크롤 효과 구현 */
#main {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

/* main__top --------------------------------------------------------------------------------------------------------------------------- */

.main__top {
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* .form-target에 대해 */
  position: relative;
}

/* main__top-left --------------------------------------------------------------------------------------------------------------------------- */

.main__top-left {
  /* .main__top-left__click에 대해 */
  position: relative;
}

.main__top-left__title {
  height: 45%;
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  font-family: var(--font-montserrat);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -2px;
}

.main__top-left__click {
  box-sizing: border-box;
  padding: 0 10px;
  height: 35px;
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 10px;
  /* .main__top-left에 대해 */
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
}

.main__top-left__click__login,
.main__top-left__click__signup {
  background-color: #0c3aa5;
  font-family: var(--font-montserrat);
  letter-spacing: -1px;
  font-size: 1.2rem;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.main__top-left__click__login:hover,
.main__top-left__click__signup:hover {
  color: white;
}

/* .form-target --------------------------------------------------------------------------------------------------------------------------- */

.form-target {
  /* .main__top에 대해 */
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  transform: translate3d(-100%, 0, 0);
  box-sizing: border-box;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
  border-right: 0.5px solid black;
}

.form-target.show {
  transform: translate3d(0%, 0, 0);
  opacity: 1;
  visibility: visible;
}

#cancel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cancel {
  width: 25px;
  height: 25px;
  /* .cancel__left, .cancel__right에 대해 */
  position: relative;
  cursor: pointer;
}

.cancel__left,
.cancel__right {
  /* .cancel에 대해 */
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  left: 0;
  top: 50%;
}

.cancel__left {
  transform: translateY(-50%) rotate(45deg);
}

.cancel__right {
  transform: translateY(-50%) rotate(-45deg);
}

.form-target__center {
  height: calc(100% - 25px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-target__title {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 1.7rem;
  letter-spacing: -1.7px;
  margin-bottom: 10px;
}

 /* <input>을 담은 <div>들 */
.login__id,
.login__pwd,
.login__btn,
.signup__id,
.signup__nickname,
.signup__pwd,
.signup__btn {
  border: 1px solid black;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 250px;
}

.login__input,
.signup__input {
  border: none;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-size: 1.3rem;
  padding: 10px;
}

.login__input__button,
.signup__input__button {
  width: 100%;
  font-size: 1.3rem;
  font-family: var(--font-montserrat);
  border: none;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.kakao,
.naver {
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 1.3rem;
  font-family: var(--font-montserrat);
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
}

.kakao {
  background-color: #fae100;
  margin-bottom: 10px;
}

.naver {
  background-color: #02bf3a;
  color: white;
}

/* .main__top-right --------------------------------------------------------------------------------------------------------------------------- */

.main__top-right {
  /* 글자가 밖으로 나가는 것에 대해 */
  overflow: hidden;
  border: 1px solid black;
  background-image: linear-gradient(to top, #fff1eb 0%, #3fa7f3 100%);
  transition: all 0.3s ease-out;
}

.main__top-right__title {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
}

.main__top-right__title1,
.main__top-right__title2 {
  width: fit-content;
  margin-left: -15px;
  font-family: var(--font-Merriweather);
  font-size: 5rem;
  line-height: 0.9;
}

.main__top-right__title2 {
  font-style: italic;
}

.main__top-right__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  box-sizing: border-box;
  /* 타이틀과 화살표 사이 간격 */
  padding-top: 15px;
}

.main__top-right__arrow {
  width: 200px;
  display: block;
  cursor: pointer;
}

.main__top-right__arrow__img {
  width: 100%;
  display: block;
}

.main__top-right__contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 10px 10px;
}

#main__top-right__contents__number {
  font-family: var(--font-montserrat);
  font-size: 1.4rem;
}

.main__top-right__contents__scroll {
  font-family: var(--font-Merriweather);
  font-size: 1.4rem;
  animation: main-scroll 1s ease-out infinite alternate;
}
/* 위아래로 살짝 튀어오르는 효과 */
@keyframes main-scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-70%); }
}

/* .main__bottom --------------------------------------------------------------------------------------------------------------------------- */

.main__bottom {
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .main__bottom-left --------------------------------------------------------------------------------------------------------------------------- */

.main__bottom-left {
  background-color: #0c3aa5;
  border: 1px solid black;
}

/* .main__bottom-right --------------------------------------------------------------------------------------------------------------------------- */

.main__bottom-right__names {
  padding: 20px;
}

.main__name {
  font-family: var(--font-poppins);
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: -0.5px;
  margin-bottom: 7px;
}

/* #user --------------------------------------------------------------------------------------------------------------------------- */

#user {
  width: 300px;
  height: 180px;
  border: 1.5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  bottom: 40%;
  left: 50px;
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}

.user__nick,
.user__logout {
  color: black;
}

.user__wishlist {
  color: #99d1a2;
  text-decoration: none;
}

.user__nick:hover,
.user__wishlist:hover,
.user__logout:hover {
  text-decoration: line-through;
}

.user__nick {
  font-family: var(--font-korean);
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: -1.5px;
  width: fit-content;
}

.user__wishlist-box,
.user__logout-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: var(--font-poppins);
}

.user__wishlist__text {
  font-weight: 200;
  font-size: 1.1rem;
  letter-spacing: -1.1px;
}

.user__wishlist {
  font-size: 1.9rem;
  letter-spacing: -1.9px;
  font-weight: 500;
  line-height: 0.8;
}

.user__logout  {
  font-size: 1.3rem;
  letter-spacing: -1.3px;
  font-weight: 200;
}

/* min-width: 650px --------------------------------------------------------------------------------------------------------------------------- */

@media all and (min-width: 650px) {
  .main__top,
  .main__bottom {
    grid-template-columns: 3fr 7fr;
  }    

  .main__top-right {
    /* min-width: 650px, .main__top-right__contents__scroll에 대해서 */
    position: relative;
  }
  
  .main__top-right__contents__scroll {
    /* .main__top-right에 대해서 */
    position: absolute;
    top: 10px;
    right: 0;
    animation: main-scroll 4s ease-out infinite;
  }
  /* 스크롤 텍스트가 낙수 효과처럼 내려옴 */
  @keyframes main-scroll {
    0% { 
      transform: translateY(0);
      opacity: 1; 
    }
    100% { 
      /* 처음에는 그냥 기본값으로 1700% */
      transform: translateY(var(--downDistance));
      opacity: 0;
    }
  }
  
  .form-target {
    width: 30%;
  }
}