:root {
  --font-Merriweather: "Merriweather", serif;
  --font-notoKR:"Noto Sans KR", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-schoolbell: "Schoolbell", cursive;
  --font-rubik: "Rubik", sans-serif;
  --font-rubikScribble: "Rubik Scribble", system-ui;
  --font-rubik-doodle: "Rubik Doodle Shadow", system-ui;
  --font-rubik-bubbles: "Rubik Bubbles", system-ui;
  --font-rock: "Rock Salt", cursive;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 800vh;
}

body::-webkit-scrollbar {
  display: none;
}

#main {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.main__top {
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.main__bottom {
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main__top-left {
  position: relative;
}

.main__top-left__title {
  height: 45%;
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  font-family: var(--font-montserrat);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -2px;
}

.main__top-left__click {
  box-sizing: border-box;
  padding: 0 10px;
  height: 35px;
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 10px;
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
}

.main__top-left__click__login,
.main__top-left__click__signup {
  background-color: #0c3aa5;
  font-family: var(--font-montserrat);
  letter-spacing: -1px;
  font-size: 1.2rem;
  color: #0c3aa5;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border: 0.5px solid black;
}

.form-target {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  transform: translate3d(-100%, 0, 0);
  box-sizing: border-box;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}

.form-target.show {
  transform: translate3d(0%, 0, 0);
  opacity: 1;
  visibility: visible;
}

#cancel {
  display: flex;
  align-items: center;
  justify-content: end;
}

.cancel {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

.cancel__left,
.cancel__right {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  left: 0;
  top: 50%;
}

.cancel__left {
  transform: translateY(-50%) rotate(45deg);
}

.cancel__right {
  transform: translateY(-50%) rotate(-45deg);
}

.login,
.signup {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.signup {
  height: 55%;
}

.login__id,
.login__pwd,
.login__btn,
.signup__id,
.signup__nickname,
.signup__pwd,
.signup__btn {
  border: 1px solid black;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
}

.login__input,
.signup__input {
  border: none;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-size: 1.3rem;
  padding: 5px;
}

.login__input__button,
.signup__input__button {
  width: 100%;
  font-size: 1.3rem;
  font-family: var(--font-montserrat);
  border: none;
  padding: 5px;
  background-color: black;
  color: white;
}

.kakao,
.naver {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 1.3rem;
  font-family: var(--font-montserrat);
  text-align: center;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.kakao {
  background-color: #0c3aa5;
}

.naver {
  background-color: #02bf3a;
}

.main__top-right {
  overflow: hidden;
  border: 1px solid black;
  background-image: linear-gradient(to top, #fff1eb 0%, #3fa7f3 100%);
  transition: all 0.3s ease-out;
}

.main__top-right__title {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
}

.main__top-right__title1,
.main__top-right__title2 {
  margin-left: -15px;
  font-family: var(--font-Merriweather);
  font-size: 5rem;
  line-height: 0.9;
}

.main__top-right__title2 {
  font-style: italic;
}

.main__top-right__arrow {
  margin-top: 15px;
  width: 200px;
  cursor: pointer;
}

.main__top-right__arrow__img {
  width: 100%;
  display: block;
}

.main__bottom-left {
  background-color: #0c3aa5;
  border: 1px solid black;
  transition: all 0.3s ease-out;
}

.main__bottom-right__names {
  padding: 20px;
}

.main__name {
  font-family: var(--font-poppins);
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: -0.5px;
  margin-bottom: 7px;
}

@media all and (min-width: 650px) {
  .main__top,
  .main__bottom {
    grid-template-columns: 3fr 7fr;
  }  

  #login,
  #signup {
    width: 30%;
  }

  .login__id,
  .login__pwd,
  .login__btn,
  .kakao,
  .naver,
  .signup__id,
  .signup__nickname,
  .signup__pwd,
  .signup__btn {
    max-width: 300px;
    margin-bottom: 15px;
  }

  .login__input,
  .signup__input {
    padding: 10px;
  }

  .login__input__button,
  .signup__input__button {
    padding: 10px;
  }

  .kakao,
  .naver {
    padding: 10px;
    margin: 0 auto 15px auto;
  }
}