:root {
  --font-noto:"Noto Sans KR", sans-serif;
  --font-vt323: "VT323", monospace;
  --font-myeongjo: "Nanum Myeongjo", serif;
  --font-brush: "Nanum Brush Script", cursive;
  --font-hahmlet: "Hahmlet", serif;
  --font-dokdo: "East Sea Dokdo", sans-serif;
  --font-diphylleia :"Diphylleia", serif;
  --width: 400px;
}

body::-webkit-scrollbar {
  display: none;
}

#quotes {
  min-height: 100vh;
  background-color: #027b7c;
  box-sizing: border-box;
}

.quotes-nav {
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  height: 30px;
  background-color: #0201a5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  box-sizing: border-box;
  color: white;
  border: 1.5px solid #ccc9c0;
}

.quotes-home {
  text-decoration: none;
  color: white;
  display: block;
}

.quotes-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;
}

.quotes-main-right {
  width: var(--width);
}

.quotes-preview {
  box-sizing: border-box;
  background-color: #0201a5;
  padding: 5px;
  width: var(--width);
  border: 3px solid #ccc9c0;
  aspect-ratio: 1 / 1;
  box-shadow: 1px 1px 2px 2px #503b46;
  position: relative;
}

.quotes-img-box {
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  background-image: url('/img/quotes/one.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
}

.quotes-img-inputs {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  font-family: var(--font-hahmlet);
  box-sizing: border-box;
  padding: 0 10px;
}

.quotes-img-inputs-quotes {
  font-size: 1.7rem;
  letter-spacing: -1.7px;
  margin-bottom: 5px;
}

.quotes-img-inputs-from {
  font-size: 1rem;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: 200;
}

.quotes-opers {
  margin-top: 10px;
}

.quotes-oper {
  width: var(--width);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 7px;
}

.quotes-oper-theme {
  height: 25px;
  padding: 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc9c0;
  margin-right: 5px;
  box-shadow: 1px 1px 1px 1px #503b46;
  font-family: var(--font-vt323);
}

.quotes-oper-box {
  font-family: var(--font-vt323);
  height: 25px;
  padding: 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0201a5;
  box-shadow: 1px 1px 1px 1px #503b46;
  border: 1px solid #ccc9c0;
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

.quotes-box {
  margin-top: 2px;
  box-sizing: border-box;
  width: var(--width);
  background-color: #ccc9c0;
  padding: 1px;
  box-shadow: 1px 1px 2px 2px #503b46;
}

.quotes-box-nav {
  height: 20px;
  background-color: #0201a5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  box-sizing: border-box;
}

.quotes-box-title {
  font-family: var(--font-vt323);
  color: white;
}

.quotes-box-cancel {
  background-color: #ccc9c0;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 1px 1px #503b46;
}

.quotes-box-cancel__left,
.quotes-box-cancel__right {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: black;
}

.quotes-box-cancel__left {
  transform: translateY(-50%) rotate(45deg);
}

.quotes-box-cancel__right {
  transform: translateY(-50%) rotate(-45deg);
}

.quotes-box-contents.none {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotes-box-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  padding: 20px 0;
}

.quotes-form {
  padding: 20px 0;
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quotes-form-labels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

input {
  display: block;
}

input::placeholder {
  font-family: var(--font-vt323);
  font-size: 1.2rem;
}

.quotes-form-title {
  text-align: center;
}

.quotes-input-quotes,
.quotes-input-from {
  width: 350px;
  margin: 10px 0;
  box-shadow: 1px 1px 1px 1px #503b46, -0.5px -0.5px 1px 1px white;
  border: none;
  outline: none;
  height: 22px;
  font-family: var(--font-hahmlet);
  font-size: 1rem;
  letter-spacing: -1px;
  background-color: #ffffff;
}

.quotes-input-submit {
  cursor: pointer;
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  border: none;
  outline: none;
  box-shadow: 1px 1px 1px 1px #503b46, -0.5px -0.5px 1px 1px white;
  height: 25px;
  padding: 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  margin: 0 auto;
}

.quotes-box-con {
  height: 30px;
  padding: 0 10px;
  font-family: var(--font-vt323);
  width: fit-content;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 1px 1px 1px 1px #503b46, -0.5px -0.5px 1px 1px white;
  cursor: pointer;
}

.quotes-label {
  display: flex;
}

.basic-img {
  display: block;
  width: 50px;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-left: 5px;
}

.user-img-label {
  box-shadow: 1px 1px 1px 1px #503b46, -0.5px -0.5px 1px 1px white;
  width: 50px;
  height: 30px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.user-img-label-ver,
.user-img-label-hor {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 2px;
  background-color: black;
  left: 50%;
}

.user-img-label-ver {
  transform: translate(-50%, -50%) rotate(0);
}

.user-img-label-hor {
  transform: translate(-50%, -50%) rotate(90deg);
}

.user-img-input {
  display: none;
}

.quotes-btns {
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  margin: 20px auto 0 auto;
}

.quotes-register,
.quotes-download {
  box-shadow: 1px 1px 1px 1px #503b46, -0.5px -0.5px 1px 1px white;
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  cursor: pointer;
}

@media all and (min-width: 800px) {
  #quotes {
    height: 100vh;
  }

  .quotes-main {
    height: calc(100vh - 30px);
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .quotes-main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }

  .quotes-main-right {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .quotes-box {
    margin-top: 0px;
  }  

  .quotes-btns {
    position: absolute;
    bottom: 17%;
    left: 0;
  }
}

@media all and (min-width: 1000px) {
  .quotes-main-left {
    margin-right: 20px;
  }

  .quotes-main-right {
    margin-left: 20px;
  }
}

@media all and (min-width: 1200px) {
  :root {
    --width: 450px;
  }
    
  .quotes-oper {
    width: var(--width);
    margin-bottom: 10px;
  }
  
  .quotes-oper-theme {
    height: 27px;
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .quotes-oper-box {
    font-size: 1.2rem;
    height: 27px;
    margin-right: 10px;
  }

  .quotes-main-left {
    margin-right: 40px;
  }

  .quotes-main-right {
    margin-left: 40px;
  }
}