:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-korean: "Noto Sans KR", sans-serif;
  --font-vt323: "VT323", monospace;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

#tournament {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.tournament-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: block;
}

.tournament-title {
  font-family: var(--font-montserrat);
  font-size: 5rem;
  letter-spacing: -9px;
  line-height: 0.7;
  font-weight: 600;
}

.tournament {
  display: grid;
  grid-template-areas: 
  "icon round"
  "topimg topinfo"
  "botinfo botimg"; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 220px 220px;
}

.tournament-con {
  border: 0.5px solid black;
  box-sizing: border-box;
}

.tournament-con.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: icon;
}

.tournament-icon {
  width: 30px;
}

.tournament-icon-img {
  display: block;
  width: 100%;
}

.tournament-icon-text {
  font-family: var(--font-vt323);
  font-size: 1.1rem;
}

.tournament-con.round {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  grid-area: round;
}

.tournament-round {
  font-family: var(--font-montserrat);
  line-height: 0.7;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -5px;
}

.tournament-con.top-img {
  grid-area: topimg;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.tournament-con.bot-img {
  grid-area: botimg;
  display: flex;
  justify-content: start;
  align-items: center;
}

.tournament-img-box {
  box-sizing: border-box;
  width: 220px;
  cursor: pointer;
}

.tournament-img-box.top {
  border-left: 0.5px solid black;
}

.tournament-img-box.bot {
  border-right: 0.5px solid black;
}

.tournament-img {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.tournament-con.top-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px;
  grid-area: topinfo;
}

.play-btn,
.pause-btn {
  width: 25px;
  cursor: pointer;
  margin-bottom: 5px;
}

.play-img,
.pause-img {
  display: block;
  width: 100%;
}

.tournament-main {
  font-family: var(--font-montserrat);
  font-size: 1.5rem;
  letter-spacing: -2px;
}

.tournament-sub {
  font-family: var(--font-vt323);
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 0.7;
}

.tournament-main.bot {
  text-align: end;
}

.tournament-sub.bot {
  text-align: end;
  font-family: var(--font-montserrat);
  font-family: var(--font-vt323);
  font-size: 2rem;
  letter-spacing: -2px;
}

.tournament-con.bot-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 10px;
  grid-area: botinfo;
}

@media all and (min-width: 750px) {
  .tournament-title {
    font-size: 6rem;
    letter-spacing: -10px;
  }
  
  .tournament {
    grid-template-areas: 
    "topimg topinfo round"
    "icon botinfo botimg";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
  }  

  .tournament-img-box {
    width: 250px;
  }      

  .tournament-icon {
    width: 45px;
  }

  .tournament-icon-text {
    font-family: var(--font-vt323);
    font-size: 1.4rem;
    letter-spacing: -0.5px;
  }

  .tournament-round {
    font-size: 5rem;
    letter-spacing: -8px;
  }  
}

@media all and (min-width: 900px) {
  .tournament-round {
    font-size: 7rem;
    letter-spacing: -10px;
  }  

  .tournament {
    grid-template-rows: 320px 320px;
  }  

  .tournament-img-box {
    width: 320px;
  }  

  .tournament-icon {
    width: 55px;
  }

  .tournament-icon-text {
    font-size: 1.7rem;
    letter-spacing: -0.7px;
  }

  .play-btn,
  .pause-btn {
    width: 35px;
  }

  .tournament-main {
    font-size: 1.7rem;
    letter-spacing: -2.2px;
  }
  
  .tournament-sub {
    font-size: 2.2rem;
    letter-spacing: -1.2px;
  }  
}

#final {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 425px;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  box-sizing: border-box;
}

.final-nav {
  height: 25px;
  border-bottom: 1px solid black;
  background-color: #8e8f91;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  box-sizing: border-box;
}

.final-title {
  font-family: var(--font-vt323);
  font-size: 1.2rem;
}

.final-home,
.final-other {
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

.final {
  display: flex;
  background-color: #efefef;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.final-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 5px;
}

.final-main {
  font-family: var(--font-montserrat);
  font-size: 1.5rem;
  letter-spacing: -3px;
}

.final-sub {
  font-family: var(--font-vt323);
  font-size: 1.7rem;
  letter-spacing: -1px;
}

.final-img-box {
  width: 250px;
  border-left: 1px solid black;
}

.final-img {
  display: block;
  width: 100%;
}

.final-options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  background-color: #8e8f91;
}

.final-option {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: var(--font-vt323);
  margin-right: 10px;
}

.final-option:hover {
  color: #efefef;
}

@media all and (min-width: 900px) { 
  #final {
    width: 500px;
  }    
  
  .final-img-box {
    width: 300px;
  }  
}

@media all and (min-width: 1200px) { 
  #final {
    width: 550px;
  }    
  
  .final-img-box {
    width: 350px;
  }  
}


