:root {
  --font-korean:"Noto Sans KR", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-merriweather: "Merriweather", serif;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#members {  
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(135deg, #ffffff 25%, #06f304 100%);
}

.members-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 22px;
  border-bottom: 1px solid black;
}

.members-title {
  font-family: var(--font-montserrat);
  font-size: 1rem;
  letter-spacing: -2px;
  font-weight: 500;
}

.members-names {
  font-family: var(--font-korean);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.members-name {
  margin-left: 10px;
  cursor: pointer;
}

.member-books {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.member-book {
  cursor: pointer;
  font-family: var(--font-korean);
  font-size: 1.3rem;
  letter-spacing: -2px;
  font-weight: 100;
  line-height: 1.2;
  width: fit-content;
}

.members-name.clicked,
.member-book.clicked {
  color: #0c3aa5;
  font-weight: 500;
}

.attend {
  border: 1px solid black;
  width: 200px;
  background-color: white;
  position: fixed;
  left: 10px;
  top: 70%;
  transform: translateY(-50%);
}

.recommend {
  border: 1px solid black;
  width: 250px;
  background-color: white;
  position: fixed;
  left: 30px;
  bottom: 30px;
}

.attend-title,
.recommend-title {
  font-family: var(--font-korean);
  font-size: 1rem;
  letter-spacing: -1px;
  font-weight: 200;
  margin-bottom: 40px;
}

.attend-num,
.recommend-num {
  font-family: var(--font-montserrat);
  font-size: 3rem;
  letter-spacing: -5px;
  color: #0c3aa5;
  font-weight: 400;
  text-align: end;
  margin-right: 3px;
}

.href-box {
  position: fixed;
  top: 100px;
  left: 0;
}

.box {
  font-family: var(--font-merriweather);
  font-size: 2rem;
  letter-spacing: -2px;
  padding: 5px 10px;
  border: 1px solid black;
  width: fit-content;
  margin-bottom: 5px;
}

.home {
  background-color: #0c3aa5;
  color: white;
}

.api {
  background-color: #ccf407;
}

.quotes {
  background-color: #f00284;
}

.wishlist {
  background-color: #039753;
}

.favorite {
  background-color: #00f402;
}

@media all and (min-width: 1000px) {
  .member-book {
    font-size: 1.7rem;
    letter-spacing: -3px;
    line-height: 1.2;
  }

  .box {
    margin-bottom: 10px;
  }  

  .api {
    margin-left: 15px;
  }

  .quotes {
    margin-left: 30px;
  }

  .wishlist {
    margin-left: 45px;
  }

  .favorite {
    margin-left: 60px;
  }

  .attend {
    left: 40px;
  }
  
  .recommend {
    left: 80px;
    bottom: 40px;
  }  
}