<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SEO HANNA | BOOKCLUB</title>
  <link rel="stylesheet" href="/css/favorite/ranking.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=VT323&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>
  <section id="ranking">
    <img class="ranking-background" src="/img/favorite/background.jpeg" alt="background">
    <div class="rank-nav">
      <div>
        <div class="ranking">Ranking</div>
        <div class="rank-title">{{title}}</div>
      </div>
      <div class="rank-link">
        <a href="/favorite" class="link">BACK</a>
        <a href="/" class="link">HOME</a>
      </div>
    </div>
    <div class="ranking-main">
      {% for list in lists %}
      <div class="ranking-box">
        <div class="ranking-img-box">
          <img class="ranking-img" src="/img/{{list.modelName}}/{{list.main}}.jpeg" alt="{{list.main}}">
        </div>
        <div class="ranking-box-info">
          <div class="ranking-box-info-top">
            <div class="ranking-box-number">{{loop.index}}</div>
            <div>
              <div class="ranking-box-main">{{list.main}}</div>
              <div class="ranking-box-sub">{{list.sub}}</div>    
            </div>
          </div>
          <div class="ranking-box-info-bottom">
            <div class="ranking-number-box">
              <div class="ranking-box-victory">승률</div>
              <div class="ranking-box-victory-number">{{list.victoryRate}}%</div>
            </div>
            <div class="ranking-number-box">
              <div class="ranking-box-winning">우승비율</div>
              <div class="ranking-box-winning-number">{{list.winningRate}}%</div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="ranking-terms">
      <div class="ranking-terms-box">
        <div class="ranking-terms-text">승률:</div>
        <div class="ranking-terms-exp">승리 횟수 / 전체 1 : 1 대결수</div>
      </div>
      <div class="ranking-terms-box">
        <div class="ranking-terms-text">우승비율:</div>
        <div class="ranking-terms-exp">최종 우승 횟수 / 전체 게임 수</div>
      </div>
    </div>
  </section>
</body>
</html>