:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-korean: "Noto Sans KR", sans-serif;
  --font-vt323: "VT323", monospace;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

#ranking {
  min-height: 100vh;
  position: relative;
}

.ranking-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  width: 100%;
}

.rank-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: var(--font-montserrat);
}

.ranking,
.rank-title {
  font-weight: 600;
  line-height: 0.7;
}

.ranking {
  font-size: 3rem;
  letter-spacing: -5px;
}

.rank-title {
  font-size: 5rem;
  letter-spacing: -9px;
}

.rank-link {
  position: fixed;
  top: 0;
  right: 0;
}

.link {
  font-size: 1.3rem;
  letter-spacing: -2px;
  line-height: 0.7;
  margin-bottom: 1px;
  text-align: end;
}

.ranking-box {
  border: 0.5px solid black;
  display: grid;
  grid-template-columns: 150px auto;
  width: 500px;
}

.ranking-img-box {
  border-right: 0.5px solid black;
}

.ranking-img {
  display: block;
  width: 100%;
}

.ranking-box-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.ranking-box-info-top {
  display: grid;
  grid-template-columns: 70px auto;
  gap: 5px;
}

.ranking-box-number {
  font-family: var(--font-montserrat);
  font-size: 4rem;
  letter-spacing: -2px;
  font-weight: 500;
  line-height: 0.7;
}

.ranking-box-main {
  font-family: var(--font-montserrat);
  font-size: 1.4rem;
  letter-spacing: -2px;
}

.ranking-box-sub {
  font-family: var(--font-vt323);
  font-size: 1.5rem;
}

.ranking-box-info-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.ranking-number-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ranking-box-victory,
.ranking-box-winning {
  font-family: var(--font-korean);
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  font-weight: 300;
}

.ranking-box-victory-number,
.ranking-box-winning-number {
  line-height: 0.7;
  font-family: var(--font-montserrat);
  font-size: 3rem;
  letter-spacing: -4px;
}

.ranking-terms,
.ranking-terms-box {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-korean);
  font-size: 1rem;
}

.ranking-terms {
  margin-top: 40px;
}

.ranking-terms-text {
  margin-right: 5px;
}

.ranking-terms-exp {
  font-weight: 200;
}

@media all and (min-width: 1000px) {
  .ranking-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .link {
    font-size: 1.7rem;
    letter-spacing: -3px;
    line-height: 0.7;
  }  

  .ranking-terms {
    padding: 0 20px;
  }  
}
