:root {
  --font-korean:"Noto Sans KR", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

body::-webkit-scrollbar {
  display: none;
}

.book-right::-webkit-scrollbar {
  display: none;
}

/* book-left --------------------------------------------------------------------------------------------------------------------------- */

.book-left {
  background-color: #0c3aa5;
  padding: 20px;
  border-bottom: 1px solid black;
  height: 80vh;
}

.book-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-montserrat);
  height: 25px;
}

.book-arrow {
  width: 70px;
}

.book-img {
  width: 100%;
  display: block;
}

.book-home {
  font-family: var(--font-montserrat);
  font-size: 1.1rem;
  letter-spacing: -1px;
  color: white;
}

.book-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: var(--font-montserrat);
  color: white;
  height: 25px;
  margin-top: 10px;
}

.book-nav__text {
  font-weight: 500;
  font-size: 1.5rem;
}

#book-nav__number {
  font-size: 1.2rem;
}

.book-main {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.book-img-box {
  border: 1px solid black;
  max-width: 225px;
}

.book-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
  font-family: var(--font-korean);
}

.book-title {
  font-size: 2rem;
  letter-spacing: -2px;
  font-weight: 600;
  margin-bottom: 30px;
}

.book-author {
  font-size: 1rem;
  letter-spacing: -1px;
  font-weight: 300;
  line-height: 1.2;
}

#book-recommender,
#book-date {
  line-height: 1.2;
  font-size: 1rem;
  letter-spacing: -1px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.book-recommender {
  font-weight: 500;
  color: white;
}

.book-date {
  font-weight: 500;
}

.book-rate-box {
  margin-top: 30px;
}

.book-stars {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.book-star--relative {
  width: 30px;
  height: 30px;
  /* .book-star */
  position: relative;
  background-color: rgba(128, 128, 128, 0.5);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.book-star {
  background-color: white;
  /* .book-star--relative */
  position: absolute;
  width: 100%;
  height: 100%;
}

.book-star.full {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.book-star.half {
  clip-path: polygon(50% 0%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.book-star.empty {
  background-color: transparent;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.book-numbers {
  font-family: var(--font-montserrat);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* book-right --------------------------------------------------------------------------------------------------------------------------- */

.book-right {
  padding: 20px;
}

.review-nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.review-title {
  font-family: var(--font-montserrat);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -1px;
}

.review-write-btn {
  cursor: pointer;
  font-family: var(--font-korean);
  background-color: #0c3aa5;
  color: white;
  height: 35px;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  letter-spacing: -1px;
  border-radius: 4px;
}

.review-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0;
}

.review-empty-text {
  font-family: var(--font-korean);
  font-size: 1.3rem;
  letter-spacing: -1.3px;
  font-weight: 200;
}

.rebox {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}

.rebox__title {
  font-family: var(--font-korean);
  font-size: 1.1rem;
  letter-spacing: -1px;
  font-weight: 500;
}

.rebox__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  height: 15px;
}

.rebox__stars {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rebox__star {
  width: 15px;
  height: 15px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.rebox__star.full {
  background-color: #0c3aa5;
}

.rebox__star.empty {
  background-color: grey;
  opacity: 0.5;
}

.rebox__line {
  width: 1px;
  background-color: grey;
  margin: 0 5px;
  height: 100%;
}

.rebox__type {
  font-family: var(--font-poppins);
  color: #0c3aa5;
  font-size: 0.8rem;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rebox--common {
  font-family: var(--font-korean);
  font-size: 0.8rem;
  letter-spacing: -1px;
  color: grey;
  height: 100%;
}

.rebox__nickname,
.rebox__edit,
.rebox__delete {
  cursor: pointer;
}

.rebox__user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  box-sizing: border-box;
}

.rebox__text {
  width: 100%;
  font-family: var(--font-korean);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  line-height: 1.4;
}

.rebox__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.more-btn__text {
  font-family: var(--font-korean);
  font-size: 0.8rem;
  letter-spacing: -0.8px;
  color: grey;
  margin-right: 5px;
}

.more-btn__arrow {
  display: block;
  width: 15px;
}

.heart {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 15px;
}

.heart-box {
  position: relative;
  width: 15px;
  height: 100%;
}

.heart-img {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.heart-img.back {
  transition: all 1s ease-out;
  transform: translateY(-200%);
  opacity: 0;
}

.heart-total {
  height: 100%;
  margin: 0px 2px;
  font-family: var(--font-montserrat);
  font-weight: 500;
  color: #0c3aa5;
  font-size: 0.8rem;
  letter-spacing: -0.8px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagenation {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}

.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.page-number {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-size: 1.2rem;
}

.page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 1.5rem;
  letter-spacing: -3px;
  font-family: var(--font-montserrat);
}

.page-number.clicked {
  color: #0c3aa5;
  font-weight: 600;
}

#review-form {
  position: fixed;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 650px;
  background-color: white;
  border: 1px solid black;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: none;
}

.form-nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 25px;
}

.form__title {
  font-family: var(--font-montserrat);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -1px;
}

.form__cancel {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

.form__cancel__left,
.form__cancel__right {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 1.5px;
  background-color: black;
}

.form__cancel__left {
  transform: translate(-50%, -50%) rotate(45deg);
}

.form__cancel__right {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.form-book {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 20px;
  background-color: #0c3aa5;
  padding: 20px;
  border-radius: 3px;
}

.form__img {
  width: 100%;
  display: block;
}

.form__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.form-book__title {
  font-family: var(--font-korean);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 7px;
}

.form__author {
  font-family: var(--font-korean);
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.form__stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.form__star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: white;
  opacity: 0.5;
  width: 25px;
  height: 25px;
  transition: opacity 0.1s ease-in;
}

.input__title {
  width: 100%;
  border: none;
  font-size: 1rem;
  resize: none;
  outline: none;
  appearance: none;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  font-family: var(--font-korean);
}

#textarea__length {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--font-poppins);
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: grey;
}

.textarea__length {
  color: #0c3aa5;
}

#textarea {
  width: 100%;
  border: 1px solid black;
  resize: none;
  outline: none;
  appearance: none;
  padding: 10px;
  font-family: var(--font-korean);
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.submit {
  font-family: var(--font-korean);
  border: none;
  background-color: #0c3aa5;
  color: white;
  width: 80px;
  margin: 0 auto;
  display: block;
  font-size: 0.8rem;
  padding: 5px 0;
  border-radius: 3px;
  cursor: pointer;
}

@media all and (min-width: 650px) {
  #book {
    display: grid;
    grid-template-columns: 3fr 7fr;
  }  

  .book-left {
    position: sticky;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    border-right: 1px solid black;
  }

  .book-nav {
    margin-top: 0;
  }  

  .book-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  

  .book__img-box {
    margin-bottom: 30px;
  }

  .empty-review {
    height: calc(100% - 35px);
    padding: 0;
  }  
}

@media all and (min-width: 800px) {
  .book__img-box {
    max-width: 190px;
  }

  .book-right {
    padding: 30px 30px 0 30px;
  }
}

@media all and (min-width: 1270px) {
  #book {
    grid-template-columns: 4fr 6fr;
  }

  .book-left {
    padding: 40px;
  }

  .book-contents {
    display: grid;
  }  

  .book__img-box {
    margin-bottom: 0px;
    max-width: 300px;
  }

  .book-right {
    padding: 40px 40px 0 40px;
  }
}