<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/books.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  <section id="books">
    <div class="books-left">
      <div class="books-left__main">
        <div class="books-left__title">Books</div>
        <div class="books-left__sub">Total {{books.length}} books.</div> 
      </div>
      <a href="/" class="books-arrow">
        <img class="books-img" src="/img/index/back-arrow-white.png" alt="back-arrow">
      </a> 
    </div>
    <div class="books-right">
      {% for book in books %}
      <a class="book" href="/book/{{book.id}}">
        <div class="book__title">{{book.title}}</div>
        <div class="book__author">{{book.author}}</div>
        <div class="book__blank"></div>
      </a>
      {% endfor %}
    </div>
  </section>
</body>
</html>