<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK CLUB</title>
  <link rel="stylesheet" href="/css/quotes/quotes.css">
  <script defer src="/js/quotes/quotes.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=East+Sea+Dokdo&family=Hahmlet:wght@100..900&family=Nanum+Brush+Script&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&family=VT323&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>
  <section id="quotes">
    <div class="quotes-nav">
      <div class="quotes-title">Decorate your Img</div>
      <a href="/" class="quotes-home">HOME</a>
    </div>
    <div class="quotes-main">
      <div class="quotes-main-left">
        <div class="quotes-preview">
          <div class="quotes-img-box">
            <div class="quotes-img-inputs">
              <div class="quotes-img-inputs-quotes"></div>
              <div class="quotes-img-inputs-from"></div>
            </div>
          </div>  
        </div>
        <div class="quotes-opers">
          <div class="quotes-oper">
            <div class="quotes-oper-theme">Img</div>
            <div class="quotes-oper-box" data-type="basic">Basic</div>
            <div class="quotes-oper-box" data-type="myimg">My Img</div>
          </div>
          <div class="quotes-oper">
            <div class="quotes-oper-theme">Input</div>
            <div class="quotes-oper-box" data-type="input">Quotes & From</div>
          </div>
          <div class="quotes-oper">
            <div class="quotes-oper-theme">Deco</div>
            <div class="quotes-oper-box" data-type="ratio">Ratio</div>
            <div class="quotes-oper-box" data-type="font">Font</div>
            <div class="quotes-oper-box" data-type="size">Font-Size</div>
            <div class="quotes-oper-box" data-type="color">Color</div>
          </div>
        </div>  
      </div>
      <div class="quotes-main-right">
        <div class="quotes-box none">
          <div class="quotes-box-nav">
            <div class="quotes-box-title">None</div>
            <div class="quotes-box-cancel">
              <div class="quotes-box-cancel__left"></div>
              <div class="quotes-box-cancel__right"></div>
            </div>
          </div>
          <div class="quotes-box-contents none">
            ☝️ Click buttons and Decorate Your Img 🧚!
          </div>
        </div>
        <div class="quotes-box basic" hidden>
          <div class="quotes-box-nav">
            <div class="quotes-box-title">Basic Images</div>
            <div class="quotes-box-cancel">
              <div class="quotes-box-cancel__left"></div>
              <div class="quotes-box-cancel__right"></div>
            </div>
          </div>
          <div class="quotes-box-input">
            <form class="quotes-form basic">
              <div class="quotes-form-title">Choose Basic Img...</div>
              <div class="quotes-form-labels">
                <label class="quotes-label" for="one">
                  <input type="radio" id="one" name="basic" value="one" checked>
                  <img class="basic-img" src="/img/quotes/one.jpeg" alt="basic-img">
                </label>
                <label  class="quotes-label" for="two">
                  <input type="radio" id="two" name="basic" value="two">
                  <img class="basic-img" src="/img/quotes/two.jpeg" alt="basic-img">
                </label>
                <label  class="quotes-label" for="three">
                  <input type="radio" id="three" name="basic" value="three">
                  <img class="basic-img" src="/img/quotes/three.jpeg" alt="basic-img">
                </label>
                <label  class="quotes-label" for="four">
                  <input type="radio" id="four" name="basic" value="four">
                  <img class="basic-img" src="/img/quotes/four.jpeg" alt="basic-img">
                </label>
                <label  class="quotes-label" for="five">
                  <input type="radio" id="five" name="basic" value="five">
                  <img class="basic-img" src="/img/quotes/five.jpeg" alt="basic-img">
                </label>  
                <label  class="quotes-label" for="six">
                  <input type="radio" id="six" name="basic" value="six">
                  <img class="basic-img" src="/img/quotes/six.jpeg" alt="basic-img">
                </label>  
              </div>
            </form>
          </div>
        </div>
        <div class="quotes-box myimg" hidden>
          <div class="quotes-box-nav">
            <div class="quotes-box-title">User Images</div>
            <div class="quotes-box-cancel">
              <div class="quotes-box-cancel__left"></div>
              <div class="quotes-box-cancel__right"></div>
            </div>
          </div>
          <div class="quotes-box-input">
            <form class="quotes-form user-img" action="post" enctype="multipart/form-data">
              <div class="quotes-form-title">Upload a photo...</div>
              <label for="user-img" class="user-img-label">
                <div class="user-img-label-ver"></div>
                <div class="user-img-label-hor"></div>
              </label>
              <input id="user-img" name="userimage" class="user-img-input" type="file" accept="image/*">
            </form>
          </div>
        </div>
        <div class="quotes-box input" hidden>
          <div class="quotes-box-nav">
            <div class="quotes-box-title">Quotes</div>
            <div class="quotes-box-cancel">
              <div class="quotes-box-cancel__left"></div>
              <div class="quotes-box-cancel__right"></div>
            </div>
          </div>
          <div class="quotes-box-input">
            <form class="quotes-form input">
              <div class="quotes-form-title">Enter quotes</div>
              <input class="quotes-input-quotes" type="text" maxlength="100" placeholder="quotes..." name="quotes">
              <div class="quotes-form-title">This quotes is taken from...</div>
              <input class="quotes-input-from" type="text" maxlength="20" placeholder="this quotes taken from..." name="from">
              <input class="quotes-input-submit" type="submit" value="Submit">
            </form>
          </div>
        </div>
        <div class="quotes-box ratio" hidden>
          <div class="quotes-box-nav">
            <div class="quotes-box-title">Ratio</div>
            <div class="quotes-box-cancel">
              <div class="quotes-box-cancel__left"></div>
              <div class="quotes-box-cancel__right"></div>
            </div>
          </div>
          <div class="quotes-box-contents none">
            <div class="quotes-box-con" data-value="11">1&nbsp;:&nbsp;1</div>
            <div class="quotes-box-con" data-value="34">3&nbsp;:&nbsp;4</div>
          </div>
        </div>
        <div class="quotes-box font" hidden>
          <div class="quotes-box-nav">
            <div class="quotes-box-title">Ratio</div>
            <div class="quotes-box-cancel">
              <div class="quotes-box-cancel__left"></div>
              <div class="quotes-box-cancel__right"></div>
            </div>
          </div>
          <div class="quotes-box-contents">
            <div class="quotes-box-con" data-value="noto">Noto Sans KR</div>
            <div class="quotes-box-con" data-value="basic">basic</div>
            <div class="quotes-box-con" data-value="brush">Nanum Brush</div>
            <div class="quotes-box-con" data-value="myeongjo">Nanum Myeongjo</div>
            <div class="quotes-box-con" data-value="dokdo">Dokdo</div>
            <div class="quotes-box-con" data-value="diphylleia">Diphylleia</div>
          </div>
        </div>
        <div class="quotes-box size" hidden>
          <div class="quotes-box-nav">
            <div class="quotes-box-title">Ratio</div>
            <div class="quotes-box-cancel">
              <div class="quotes-box-cancel__left"></div>
              <div class="quotes-box-cancel__right"></div>
            </div>
          </div>
          <div class="quotes-box-contents">
            <div class="quotes-box-con" data-value="small">Small</div>
            <div class="quotes-box-con" data-value="normal">Normal</div>
            <div class="quotes-box-con" data-value="big">Big</div>
            <div class="quotes-box-con" data-value="verybig">Very Big</div>
          </div>
        </div>
        <div class="quotes-box color" hidden>
          <div class="quotes-box-nav">
            <div class="quotes-box-title">Color</div>
            <div class="quotes-box-cancel">
              <div class="quotes-box-cancel__left"></div>
              <div class="quotes-box-cancel__right"></div>
            </div>
          </div>
          <div class="quotes-box-contents">
            <div class="quotes-box-con" data-value="black">black</div>
            <div class="quotes-box-con" data-value="white">white</div>
          </div>
        </div>
        <div class="quotes-other cloud">
          <div class="quotes-other-nav">
            <div class="quotes-other-title">Cloud</div>
          </div>
          <div class="quotes-other-contents">
            <div class="quotes-other-text">Do you want to see Cloud?</div>
            <div class="quotes-other-btns">
              <div class="quotes-other-btn">Yes</div>
              <div class="quotes-other-btn">No</div>
            </div>
          </div>
        </div>
        <div class="quotes-other cat">
          <div class="quotes-other-nav">
            <div class="quotes-other-title">Cat</div>
          </div>
          <div class="quotes-other-contents">
            <div class="quotes-other-text">Are you a Cat person? 😾</div>
            <div class="quotes-other-btns">
              <div class="quotes-other-btn">Yes</div>
              <div class="quotes-other-btn">No</div>
            </div>
          </div>
        </div>
        <div class="quotes-other quotes">
          <div class="quotes-other-nav">
            <div class="quotes-other-title">Reading Quotes</div>
          </div>
          <div class="quotes-other-contents">
            <div class="quotes-other-text">Today a reader, tomorrow a leader.</div>
            <div class="quotes-other-from">Margaret Fuller</div>
            <div class="quotes-other-btns">
              <div class="quotes-other-btn">Before</div>
              <div class="quotes-other-btn">Next</div>
            </div>
          </div>
        </div>
        <div class="quotes-download">Img Download</div>
        <img class="cloud-two" src="/img/quotes/cloud.png" alt="cloud">     
        <img class="cloud-three" src="/img/quotes/cloud.png" alt="cloud">  
        <img class="img-cat" src="/img/quotes/cat.png" alt="cat">      
      </div>
    </div>
    <a id="capture" hidden></a>
    <img class="cloud-one" src="/img/quotes/cloud.png" alt="cloud">     
  </section>
</body>
</html>