:root {
  --font-noto:"Noto Sans KR", sans-serif;
  --font-vt323: "VT323", monospace;
  --font-myeongjo: "Nanum Myeongjo", serif;
  --font-brush: "Nanum Brush Script", cursive;
  --font-hahmlet: "Hahmlet", serif;
  --font-dokdo: "East Sea Dokdo", sans-serif;
  --font-diphylleia :"Diphylleia", serif;
  --width: 400px;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

body {
  padding: 0;
  margin: 0;
}

#quotes {
  min-height: 100vh;
  background-color: #027b7c;
}

.quotes-nav {
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  height: 30px;
  background-color: #0201a5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  color: white;
  border: 1.5px solid #ccc9c0;
}

.quotes-home {
  color: white;
}

.quotes-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0 40px 0;
}

.quotes-preview {
  background-color: #0201a5;
  width: var(--width);
  border: 3px solid #ccc9c0;
  aspect-ratio: 1 / 1;
  box-shadow: 1px 1px 2px 2px #503b46;
  /* .quotes-img-box */
  position: relative;
}

.quotes-img-box {
  aspect-ratio: 1 / 1;
  /* .quotes-preview */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  background-image: url('/img/quotes/one.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
}

.quotes-img-inputs {
  /* .quotes-preview */
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  font-family: var(--font-hahmlet);
  padding: 0 10px;
}

.quotes-img-inputs-quotes {
  font-size: 1.7rem;
  letter-spacing: -1.7px;
  margin-bottom: 5px;
}

.quotes-img-inputs-from {
  font-size: 1rem;
  letter-spacing: -1px;
  font-weight: 200;
}

.quotes-opers {
  margin-top: 10px;
}

.quotes-oper {
  width: var(--width);
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.quotes-oper-theme {
  height: 25px;
  padding: 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc9c0;
  margin-right: 5px;
  box-shadow: 1px 1px 1px 1px #503b46;
  font-family: var(--font-vt323);
}

.quotes-oper-box {
  font-family: var(--font-vt323);
  height: 25px;
  padding: 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0201a5;
  box-shadow: 1px 1px 1px 1px #503b46;
  border: 1px solid #ccc9c0;
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

.quotes-btns {
  display: block;
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.quotes-download,
.quotes-reset {
  width: fit-content;
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  box-shadow: 1px 1px 1px 1px #503b46, -0.5px -0.5px 1px 1px white;
  height: 30px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  cursor: pointer;
}

.quotes-box {
  margin-top: 2px;
  width: var(--width);
  background-color: #ccc9c0;
  padding: 1px;
  box-shadow: 1px 1px 2px 2px #503b46;
}

.quotes-box-nav {
  height: 20px;
  background-color: #0201a5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
}

.quotes-box-title {
  font-family: var(--font-vt323);
  color: white;
}

.quotes-box-cancel {
  background-color: #ccc9c0;
  width: 15px;
  height: 15px;
  position: relative;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 1px 1px #503b46;
}

.quotes-box-cancel__left,
.quotes-box-cancel__right {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: black;
}

.quotes-box-cancel__left {
  transform: translateY(-50%) rotate(45deg);
}

.quotes-box-cancel__right {
  transform: translateY(-50%) rotate(-45deg);
}

.quotes-box-contents.none {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotes-box-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  padding: 20px 0;
}

.quotes-form {
  padding: 20px 0;
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quotes-form-title {
  text-align: center;
}

.quotes-form-labels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.quotes-label {
  display: flex;
  align-items: center;
}

.basic-img {
  display: block;
  width: 50px;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-left: 5px;
}

.user-img-label {
  box-shadow: 1px 1px 1px 1px #503b46, -0.5px -0.5px 1px 1px white;
  width: 50px;
  height: 30px;
  margin-top: 10px;
  /* .user-img-label-ver, -hor */
  position: relative;
  cursor: pointer;
}

.user-img-label-ver,
.user-img-label-hor {
  /* .user-img-label */
  position: absolute;
  top: 50%;
  width: 15px;
  height: 2px;
  background-color: black;
  left: 50%;
}

.user-img-label-ver {
  transform: translate(-50%, -50%) rotate(0);
}

.user-img-label-hor {
  transform: translate(-50%, -50%) rotate(90deg);
}

.user-img-input {
  display: none;
}

.quotes-input-quotes,
.quotes-input-from {
  width: 350px;
  margin: 10px 0;
  box-shadow: 1px 1px 1px 1px #503b46, -0.5px -0.5px 1px 1px white;
  border: none;
  outline: none;
  height: 22px;
  font-family: var(--font-hahmlet);
  font-size: 1rem;
  letter-spacing: -1px;
  background-color: #ffffff;
}

input {
  display: block;
}

input::placeholder {
  font-family: var(--font-vt323);
  font-size: 1.2rem;
}

.quotes-input-submit {
  cursor: pointer;
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  border: none;
  outline: none;
  box-shadow: 1px 1px 1px 1px #503b46, -0.5px -0.5px 1px 1px white;
  height: 25px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  margin: 5px auto 0 auto;
}

.quotes-box-con {
  height: 30px;
  padding: 0 10px;
  font-family: var(--font-vt323);
  width: fit-content;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 1px 1px 1px 1px #503b46, -0.5px -0.5px 1px 1px white;
  cursor: pointer;
}

.quotes-box-con.noto {
  font-family: var(--font-noto);
}

.quotes-box-con.basic {
  font-family: var(--font-hahmlet);
}

.quotes-box-con.brush {
  font-family: var(--font-brush);
}

.quotes-box-con.myeongjo {
  font-family: var(--font-myeongjo);
}

.quotes-box-con.dokdo {
  font-family: var(--font-dokdo);
}

.quotes-box-con.diphylleia {
  font-family: var(--font-diphylleia);
}

.quotes-other {
  z-index: 1;
  display: none;
  background-color: #cbc9c0;
  box-shadow: 1px 1px 2px 2px #503b46;
  padding: 1px;
}

.quotes-other-nav {
  display: flex;
  align-items: center;
  height: 20px;
  background-color: #0201a5;
  padding: 0 5px;
  font-family: var(--font-vt323);
  color: white;
}

.quotes-other-contents {
  font-family: var(--font-vt323);
  padding: 15px;
}

.quotes-other-text {
  text-align: center;
  font-size: 1.1rem;
}

.quotes-other-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.quotes-other-btn {
  height: 22px;
  padding: 0 20px;
  font-family: var(--font-vt323);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 1px 1px 1px 1px #503b46, -0.5px -0.5px 1px 1px white;
  cursor: pointer;
}

.quotes-other.quotes .quotes-other-text {
  font-size: 1.3rem;
}

.quotes-other-from {
  margin-top: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.cloud-one {
  position: fixed;
  width: 400px;
  top: 50px;
  right: 0;
  z-index: 0;
  display: none;
}

.cloud-two {
  /* .quotes-main-right */
  position: absolute;
  width: 200px;
  top: 20px;
  left: -50px;
  z-index: 0;
  display: none;
}

.cloud-three {
  /* .quotes-main-right */
  position: absolute;
  width: 300px;
  top: 100px;
  left: 35%;
  transform: translateX(-50%);
  z-index: 0;
  display: none;
}

.img-cat {
  /* .quotes-main-right */
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  transform: rotate3d(0, 1, 0, 180deg);
}

@media all and (min-width: 800px) {
  #quotes {
    height: 100vh;
  }

  .quotes-main {
    height: calc(100vh - 30px);
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 20px 0;
  }

  .quotes-main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }

  .quotes-main-right {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* .cloud-two, .quotes-box */
    position: relative;
    width: 50vw;
  }

  .quotes-box {
    margin-top: 0px;
    /* .quotes-main-right */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }  
  
  .quotes-other {
    display: block;
    position: absolute;
  }

  .quotes-other.cloud {
    right: 0;
    top: 15%;
    width: 300px;
  }

  .quotes-other.cat {
    right: 0;
    bottom: 15%;
    width: 240px;
  }

  .quotes-other.quotes {
    left: 0;
    bottom: 30px;
    width: 450px;
  }
}

@media all and (min-width: 1000px) {
  .quotes-main-left {
    margin-right: 20px;
  }

  .quotes-main-right {
    margin-left: 20px;
  }
}

@media all and (min-width: 1200px) {
  :root {
    --width: 450px;
  }
    
  .quotes-oper {
    width: var(--width);
    margin-bottom: 10px;
  }
  
  .quotes-oper-theme {
    height: 27px;
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .quotes-oper-box {
    font-size: 1.2rem;
    height: 27px;
    margin-right: 10px;
  }

  .quotes-main-left {
    margin-right: 40px;
  }

  .quotes-main-right {
    margin-left: 40px;
  }
}