:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-korean: "Noto Sans KR", sans-serif;
  --height: 30px;
}

body::-webkit-scrollbar {
  display: none;
}

.results-main::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

#apisearch {
  height: 100vh;
  box-sizing: border-box;
}

.search-nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  font-family: var(--font-montserrat);
  height: 21px;
  padding: 0 5px;
  font-weight: 500;
  letter-spacing: -1px;
  box-sizing: border-box;
}

.search-limit {
  display: flex;
  align-items: center;
  background-color: white;
  height: 21px;
  border-bottom: 1px solid black;
  padding: 0 5px;
  box-sizing: border-box;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: -0.5px;
  font-family: var(--font-korean);
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-target-box {
  height: var(--height);
  width: 45px;
  box-sizing: border-box;
  position: relative;
  margin-right: 20px;
}

select {
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  border: none;
  font-family: var(--font-korean);
  font-size: 1rem;
  letter-spacing: -0.5px;
  background: transparent;
  outline: none;
}

.search-input-box {
  height: var(--height);
  width: 200px;
  box-sizing: border-box;
  position: relative;
  margin-right: 20px;
}

.search-button {
  height: var(--height);
  box-sizing: border-box;
  width: 35px;
  position: relative;
  cursor: pointer;
}

.search-input-box__input {
  font-family: var(--font-korean);
  font-size: 1rem;
  letter-spacing: -0.5px;
}

.search-input-box__input,
.search-button__input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: none;
  border: none;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  background: none;
  cursor: pointer;
}

.search-button-img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 35px;
  display: block;
  z-index: -1;
}

.search-input-img {
  position: absolute;
  display: block;
  width: 110%;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: -1;  
}

.search-select-img {
  position: absolute;
  display: block;
  top: 50%;
  width: 170%;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 210%;
  z-index: -1;
}

#results {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  background-color: white;
  box-sizing: border-box;
  padding: 10px 20px;
  height: 90vh;
  max-width: 600px;
}

.results-cancel {
  display: flex;
  justify-content: end;
}

.results-cancel-box {
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
}

.results-cancel-left,
.results-cancel-right {
  position: absolute;
  top: 50%;
  height: 1.5px;
  width: 100%;
  background-color: black;
}

.results-cancel-left {
  transform: translateY(-50%) rotate(45deg);
}

.results-cancel-right {
  transform: translateY(-50%) rotate(-45deg);
}

.results-title {
  font-family: var(--font-korean);
  font-size: 0.9rem;
  letter-spacing: -1px;
  font-weight: 300;
}

.results-title-target {
  font-weight: 400;
  color: #039754;
}

.results-title-kwd {
  font-weight: 400;
  color: #dd2a4d;
}

.results-line {
  height: 2px;
  width: 100%;
  margin: 15px 0;
  background-color: black;
}

.results-main {
  margin-top: 10px;
  overflow: scroll;
  height: calc(90vh - 89px);
  box-sizing: border-box;
}

.results-box {
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

.results-box-contents {
  display: grid;
  grid-template-columns: 120px auto;
  gap: 10px;
  font-family: var(--font-korean);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  color: grey;
  font-weight: 300;
  box-sizing: border-box;
}

.results-img-box {
  width: 120px;
  border: 1px solid black;
  box-sizing: border-box;
}

.results-img {
  width: 100%;
  display: block;
}

.results-info-title {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: black;
}

.results-info-box {
  box-sizing: border-box;
  padding: 5px;
}

.results-info,
.results-place-box {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.results-place-box {
  display: grid;
  grid-template-columns: 85px auto;
}

.results-place {
  word-wrap: break-word;
}

.results-ver {
  margin: 0 5px;
  height: 12px;
  width: 1px;
  background-color: gray;
}

.results-btns {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 15px 0;
}

.results-btn {
  cursor: pointer;
  font-family: var(--font-korean);
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  margin-left: 10px;
  height: 25px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: #039754;
  color: white;
}

.searching_txt {
  color: #dd2a4d;
  font-weight: 500;
}

.line-top,
.line-bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 96vw;
  max-width: 600px;
}

.line-top {
  top: -10px;
}

.line-bottom {
  bottom: -10px;
}

.line-left,
.line-right {
  position: absolute;
  top: 50%;
  width: 96vh;
}

.line-left {
  left: 10px;
  transform-origin: top left;
  transform: rotate(90deg) translateX(-50%);
}

.line-right {
  right: 10px;
  transform: rotate(-90deg) translateX(50%);
  transform-origin: top right;
}

@media all and (min-width: 1000px) {
  .search-input-box {
    width: 350px;
  }

  .search-input-img {
    height: 60px;
  }  

  #results {
    padding: 10px 20px;
  }  
}

#folders {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 400px;
  border: 2px solid black;
  background-color: white;
}

.folders-nav {
  border-bottom: 1px solid black;
  height: 21px;
  box-sizing: border-box;
  background-color: #039754;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.folders-title {
  font-family: var(--font-korean);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  font-weight: 200;
}

.folders-cancel-box {
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.folders-cancel-left,
.folders-cancel-right {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 1.5px;
  background-color: black;
}

.folders-cancel-left {
  transform: translate(-50%, -50%) rotate(45deg);
}

.folders-cancel-right {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.folders-main-empty,
.folders-main-form {
  padding: 20px;
}

.folders-add {
  display: flex;
  align-items: center;
  justify-content: end;
}

.folders-add-folder {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-korean);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  font-weight: 200;
  height: 22px;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #eeebe1;
  border: 1px solid black;
}

.folders-main-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-korean);
  font-size: 1rem;
  letter-spacing: -0.5px;
  font-weight: 200;
  margin-top: 15px;
  margin-bottom: 20px;
}

.label-box {
  margin: 15px 0;
}

.folders-main-label {
  font-family: var(--font-korean);
  font-size: 1rem;
  letter-spacing: -0.5px;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-submit {
  font-family: var(--font-korean);
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  font-weight: 300;
  height: 24px;
  box-sizing: border-box;
  display: block;
  padding: 0 20px;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#add {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 250px;
  border: 2px solid black;
  background-color: white;
  box-sizing: border-box;
}

.folders-nav.add {
  background-color: #edebe1;
}

.folder-add-form {
  padding: 15px;
}

.folder-add-radio {
  display: flex;
  align-items: center;
  font-family: var(--font-korean);
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  font-weight: 200;
  margin-bottom: 10px;
}

.folder-add-form-input,
.folder-add-form-input::placeholder {
  font-family: var(--font-korean);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  width: 100%;
}
