:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-korean: "Noto Sans KR", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

#open {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.book-home {
  color: black;
  border-bottom: 1px solid black;
  font-family: var(--font-montserrat);
  height: 21px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-weight: 500;
  letter-spacing: -1px;
  box-sizing: border-box;
  background-color: white;
}

.open-title {
  color: black;
  border-bottom: 0.5px solid black;
  font-family: var(--font-korean);
  height: 21px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  letter-spacing: -0.5px;
  font-size: 0.9rem;
  font-weight: 200;
  box-sizing: border-box;
  background-color: white;
}

.open-main {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: repeat(2, 320px);
  box-sizing: border-box;
  width: fit-content;
}

.open-box {
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  cursor: pointer;
}

.open-box-title {
  font-family: var(--font-korean);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.2;
}

.open-img-box {
  border: 1px solid black;
  width: 150px;
  aspect-ratio: 1 / 1.4;
}

.open-img {
  display: block;
  width: 100%;
}

.open-deco {
  position: fixed;
  left: 950px;
  bottom: -10px;
  width: 400px;
}

.open-text {
  position: fixed;
  left: 550px;
  top: 50%;
  transform: translateY(-50%);
  width: 470px;
}
